/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/public/videos
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/storage
/.htaccess
/public/.htaccess
/public/index.php
/public/sitemap.xml
/public/robots.txt
/public/ic_update.php
/public/ic_insert.php
/public/firebase-messaging-sw.js
/public/favicon.ico
/public/error_log
/public/apple-touch-icon-se.png
/config/constants.php
/server.php
