
.tab_btns_outer { width:100%; display: flex; padding-top: 12px; }
.tab_btns_outer.tab_dsk .each_tab_btn { width: 14.5%; }
.tab_btns_outer:not(.tab_dsk) .each_tab_btn { width: 17.5%; }
.tab_btns_outer.chart_tab_btns.tab_dsk .each_tab_btn { width: 17.5%; min-height: 50px; }
.tab_btns_outer.chart_tab_btns:not(.tab_dsk) .each_tab_btn { width: 17.5%; min-height: 50px; }
.tab_btns_outer .each_tab_btn { position:relative; align-items: center; display: flex; justify-content: center; transition:0.3s all ease-in-out; cursor: pointer; }
.tab_btns_outer .each_tab_btn.tab_btn_user_bio:not(.active) { background:url(../images/tab_bio.png?v=1.1) no-repeat center center/33px 35px; }
.tab_btns_outer .each_tab_btn.tab_btn_music:not(.active) { background:url(../images/tab_music.png) no-repeat center center/33px 35px; }
.tab_btns_outer .each_tab_btn.tab_btn_fans:not(.active) { background:url(../images/tab_fans.png) no-repeat center center/33px 35px; }
.tab_btns_outer .each_tab_btn.tab_btn_social:not(.active) { background:url(../images/tab_social.png) no-repeat center center/35px; }
.tab_btns_outer .each_tab_btn.tab_btn_video:not(.active) { background:url(../images/tab_play.png) no-repeat center center/31px 35px; }
.tab_btns_outer .each_tab_btn.tab_btn_tv:not(.active) { background:url(../images/tab_tv.png) no-repeat center center/41px 35px; }
.tab_btns_outer .each_tab_btn.tab_btn_user_bio.active,.tab_btns_outer .each_tab_btn.tab_btn_user_bio.true_active { background:url(../images/tab_bio_filled.png?v=1.1) no-repeat center center/33px 35px; }
.tab_btns_outer .each_tab_btn.tab_btn_music.active,.tab_btns_outer .each_tab_btn.tab_btn_music.true_active { background:url(../images/tab_music_filled.png?v=1.1) no-repeat center center/33px 35px; }
.tab_btns_outer .each_tab_btn.tab_btn_fans.active,.tab_btns_outer .each_tab_btn.tab_btn_fans.true_active { background:url(../images/tab_fans_filled.png?v=1.1) no-repeat center center/33px 35px; }
.tab_btns_outer .each_tab_btn.tab_btn_social.active,.tab_btns_outer .each_tab_btn.tab_btn_social.true_active { background:url(../images/tab_social_filled.png?v=1.1) no-repeat center center/35px; }
.tab_btns_outer .each_tab_btn.tab_btn_video.active,.tab_btns_outer .each_tab_btn.tab_btn_video.true_active { background:url(../images/tab_play_filled.png?v=1.1) no-repeat center center/31px 35px; }
.tab_btns_outer .each_tab_btn.tab_btn_tv.active,.tab_btns_outer .each_tab_btn.tab_btn_tv.true_active { background:url(../images/tab_tv_filled.png?v=1.1) no-repeat center center/41px 35px; }
.tab_btns_outer .each_tab_btn.tab_btn_user_name { font-family: Open sans, sans-serif; font-size: 18px; }
.tab_btns_outer .each_tab_btn.tab_btn_crowd_fund { font-family: Open sans, sans-serif; font-size: 18px; }
.tab_btns_outer .each_tab_btn .border { display: none; position: absolute; bottom: 0; border-bottom: 2px solid #27282A; }
.tab_btns_outer .each_tab_btn.true_active .border_alter { width: fit-content; margin: 0 auto; border-bottom: 2px solid #fff; }
.tab_btns_outer .tab_btn_user_bio .border { width: 31px; }
.tab_btns_outer .tab_btn_music .border { width: 31px;  }
.tab_btns_outer .tab_btn_fans .border { width: 31px; }
.tab_btns_outer .store .border { width: 45px; }
.tab_btns_outer .tab_btn_social .border { width: 18px;}
.tab_btns_outer .tab_btn_video .border { width: 29px; }
.tab_btns_outer .tab_btn_tv .border { width: 39px; }

.tab_btns_alt_outer { position: fixed; z-index: 3; right: -100%; bottom: 0px; display: flex; transition:1s all ease-in-out; }
.tab_btns_alt_outer.tab_dsk .each_tab_alt_btn { background-color: #27282A !important; }
.tab_btns_alt_outer .each_tab_alt_btn.tab_alt_btn_fans:not(.active) { background: url(../images/tab_fans.png) no-repeat center center/33px 35px; }
.tab_btns_alt_outer .each_tab_alt_btn.tab_alt_btn_music:not(.active) { background: url(../images/tab_music.png) no-repeat center center/33px 35px; }
.tab_btns_alt_outer .each_tab_alt_btn.tab_alt_btn_social:not(.active) { background: url(../images/tab_social.png) no-repeat center center/35px; }
.tab_btns_alt_outer .each_tab_alt_btn.tab_alt_btn_crowd_fund { font-size: 12px!important; }
.tab_btns_alt_outer .each_tab_alt_btn.tab_alt_btn_video:not(.active) { background: url(../images/tab_play.png) no-repeat center center/31px 35px; }
.tab_btns_alt_outer .each_tab_alt_btn.tab_alt_btn_tv:not(.active) { background: url(../images/tab_tv.png) no-repeat center center/41px 35px; }
.tab_btns_alt_outer { background: #27282a; color: #fff; border-top: 1px solid #fff; width: 100%; padding: 12px 0; }
.tab_btns_alt_outer .each_tab_alt_btn { width: 17.5%; position: relative; align-items: center; display: flex; justify-content: center; transition: .3s all ease-in-out; cursor: pointer; }
.tab_btns_alt_outer .each_tab_alt_btn.tab_alt_btn_user_bio:not(.active) { background: url(../images/tab_bio.png?v=1.1) no-repeat center center/33px 35px; }
.tab_btns_alt_outer .each_tab_alt_btn.tab_alt_btn_fans, .tab_btns_alt_outer .each_tab_alt_btn.tab_alt_btn_music, .tab_btns_alt_outer .each_tab_alt_btn.tab_alt_btn_user_bio, .tab_btns_alt_outer .each_tab_alt_btn.tab_alt_btn_video { background-size: 20px !important; }
.tab_btns_alt_outer .each_tab_alt_btn.tab_alt_btn_tv { background-size: 25px !important; }
.tab_btns_alt_outer .each_tab_alt_btn.tab_alt_btn_social { background-size: 22px !important; }
.tab_btns_alt_outer.animate { right: 0; }
.tab_btns_alt_outer .each_tab_alt_btn.tab_alt_btn_user_bio.active,.tab_btns_alt_outer .each_tab_alt_btn.tab_alt_btn_user_bio.true_active { background:url(../images/tab_bio_filled.png?v=1.1) no-repeat center center/33px 35px; }
.tab_btns_alt_outer .each_tab_alt_btn.tab_alt_btn_music.active,.tab_btns_alt_outer .each_tab_alt_btn.tab_alt_btn_music.true_active { background:url(../images/tab_music_filled.png?v=1.1) no-repeat center center/33px 35px; }
.tab_btns_alt_outer .each_tab_alt_btn.tab_alt_btn_fans.active,.tab_btns_alt_outer .each_tab_alt_btn.tab_alt_btn_fans.true_active { background:url(../images/tab_fans_filled.png?v=1.1) no-repeat center center/33px 35px; }
.tab_btns_alt_outer .each_tab_alt_btn.tab_alt_btn_social.active,.tab_btns_alt_outer .each_tab_alt_btn.tab_alt_btn_social.true_active { background:url(../images/tab_social_filled.png?v=1.1) no-repeat center center/35px; }
.tab_btns_alt_outer .each_tab_alt_btn.tab_alt_btn_video.active,.tab_btns_alt_outer .each_tab_alt_btn.tab_alt_btn_video.true_active { background:url(../images/tab_play_filled.png?v=1.1) no-repeat center center/31px 35px; }
.tab_btns_alt_outer .each_tab_alt_btn.tab_alt_btn_tv.active,.tab_btns_alt_outer .each_tab_alt_btn.tab_alt_btn_tv.true_active { background:url(../images/tab_tv_filled.png?v=1.1) no-repeat center center/41px 35px; }

.tab_btn_chart_logo img, .tab_btn_expert_logo img { width: 35px; }
.top_info_box { display: flex; align-items: center; height: 40px; }
.top_info_box .top_info_right_icon { cursor: pointer; margin-left: auto; }
.top_info_outer { cursor: pointer; align-items: center; display: flex; width: fit-content; }
.top_info_outer .top_info_ic { margin-right: 5px; font-size: 20px; }
.top_info_box .top_info_right_icon img { width: 21px; height: 18px; }
.top_info_text { color: #000; font-family: Open sans, sans-serif; font-size: 16px; }

.ch_tab_sec_outer { width:100%; }
.ch_tab_det_outer { width:100%; padding:8px 11px; }

.tot_awe_pro_colors,.tot_awe_pro_sizes,.tot_awe_pro_quantity { margin: 15px 0 15px 25px; border-bottom: 1px solid #fff; padding: 5px 0; display: flex; flex-direction: row; align-items: center; flex: 0 1 90%; }
.tot_awe_color_each { min-width: 25px; height: 25px; margin: 4px; cursor: pointer; display: flex; align-items: center; justify-content: center; padding: 10px; font-size: 20px; }
.tot_awe_pro_colors .tot_awe_color_each { border: 3px solid; }
.tot_awe_pro_sizes .tot_awe_color_each { border: 1px solid #fff; }
.tot_awe_pro_colors .tot_awe_color_each.active { border-color: goldenrod; }
.tot_awe_color_each.black { background-color: #000; border-color: #000; }
.tot_awe_color_each.white { background-color: #fff; border-color: #fff; }
.tot_awe_color_each.red { background-color: #d12221; border-color: #d12221; }
.tot_awe_color_each.pink { background-color: #f6d5e4; border-color: #f6d5e4; }
.tot_awe_color_each.royal-blue { background-color: #1e64a8; border-color: #1e64a8; }
.tot_awe_color_each.irish-green { background-color: #07d545; border-color: #07d545; }
.tot_awe_color_each.navy { background-color: #2c3257; border-color: #2c3257; }
.tot_awe_color_each.light-blue { background-color: #a3b3cb; border-color: #a3b3cb; }
.tot_awe_color_each.grey { background-color: #b3b5b8; border-color: #b3b5b8; }
.tot_awe_colors_in { display: flex; flex-direction: row; align-items: center; margin-left: 20px; flex: 0 1 100%; }
.tot_awe_pro_sub_head { flex: 0 1 10%; }
.tot_awe_size_each:hover { background-color: #fff; color: #000; }
.tot_awe_size_each.active { background-color: #fff; color: #000; }
.tot_awe_pro_expand { font-size: 20px; color: #fff; margin-top: 5px; cursor: pointer; }
.tot_awe_pro_qua { width: 100%; color: #fff; padding: 0 2px; }
.tot_awe_purchase { display: flex; align-items: flex-start; justify-content: space-between; margin-top: auto; }

.lazy_tab_content { position: relative; }
.ch_tab_det_sec { width:100%; }
.bio_sec { width:100%;  }
.ch_bag_pric_sec { width:100%; }
.ch_bag_pric_sec span { display: block; width:68px; margin: auto; padding-bottom:24px; }
.ch_bag_pric_sec span img { display:block; width:100%;  }
.fund_raise_left { float: left; display: inline-block; width: 33%; }
.fund_raise_right { display: inline-block; width: 67%; padding-left: 16px; }
.pricing_setail { width:99%; padding-bottom:18px; }
.pricing_setail .p { font-size:14px;  color:#4f5051; }
.pricing_setail .fleft { display: block; float: left; width: 60%; }
.pricing_setail .fright { display: block; float: left; width: 40%; }
.pricing_setail ul li { width:100%; }
.pricing_setail ul li h3, .pricing_setail ul li .header3 { font-family: Open sans, sans-serif; font-size:18px; color: #777; line-height: 25px;}
.pricing_setail ul li p { font-family: Open sans, sans-serif; font-size:14px; line-height: 20px; color: #fff; }
.pricing_setail ul li p{ padding-bottom: 10px; }
.pricing_setail ul li:first-child p { padding-top:4px;  }
.pricing_setail .pric_left  { display: block; width:60%; float:left; text-align: left; }
.pricing_setail .pric_right { display: block; width:40%; float:right; text-align: right; }
.pricing_setail ul li.clearfix { margin-bottom: 5px; }
.ch_sup_fb { color: #f34427; }
.ch_sup_tw { color: #f2aa2d; }
a.ch_sup_fb,a.ch_sup_tw { position: relative; }
.btm_text_stor_outer { width:100%; padding: 10px 0 20px; }
.btm_text_stor_outer label { display:block; font-size:12px; color:#414142; font-family: Open sans, sans-serif; padding-bottom:16px;  }
.btm_text_stor_outer p a { color: #696772; }
.btm_text_stor_outer p a:hover { font-weight: bold; color: #fc064c; }
.r_tab_det { width:100%; padding-top: 5px; }

.ch_center_outer { width:60.37%; float:left;  }
.ch_center_outer h4 { color:#000; font-family: Open sans, sans-serif; font-size:16px; line-height:36px;   letter-spacing: 1px;  }
.ch_center_outer h4.light { color:#fff;  }
.ch_center_outer h4 .cent_undo_btn { float:right; display:block; width:18px; height:18px; background-size:100% 100% !important;background:url(../images/undo_btn_icon_02.png) no-repeat center center; margin-top:6px;}
.tp_center_video_outer { width:100%; }

#jp_poster_0,.jp-jplayer,#jp_video_0,#jp_container_1 { width:100% !important; }
.jp-video-play { height:314px !important; }
.jp-gui { position:relative; background: rgb(39, 40, 42); color: #fff; }
.jp-video-360p .jp-video-play { position:absolute; top:0; margin-top:0px; }
.jp-video-play-icon { margin-top:12px !important; }
.jp-audio, .jp-audio-stream, .jp-video { border:none !important;  }
.jp-video-play-icon{ background:url(../images/video_play_button.png) no-repeat center center !important; }
.jp-video .jp-interface { background:#444 !important; border-top:none !important; padding:4px 10px !important; }
.jp-title { display:none; }
.jp-toggles button { height:15px !important; }
.jplayer_video_outer { width:100%; }
.jp-volume-max { display:none !important; }
.jp-video .jp-type-single .jp-controls { width:28px !important; }
.jp-state-playing .jp-play:focus { background:url(../images/player_puss_btn.png) no-repeat center center !important;background-size:100% 100% !important; }

.social_btns ul { display: flex; flex-wrap: wrap; }
.social_btns ul li { flex-grow: 1; }

#tab3 { padding-top:20px; }
.tab_fan_list_outer { padding:0px; }
.tab_fan_list { width:100%; padding-bottom:30px; }
.tab_fan_list_top { width:100%; padding-bottom:5px; display: flex; }
.tab_fan_list_top a { width:100px; display: block; float:left; }
.tab_fan_list_top img { width:100%; display: block; height:56px; }
.tab_fan_list_det { width:48.6%; float:left; padding-left:10px; }
.tab_fan_list_det a { transition: 0.3s all ease-in-out; font-size:12px; color:#fff; display: block; margin-bottom:6px; font-family: Open sans, sans-serif; float:none !important; }
.tab_fan_list_det a:hover { color:#000; }
.tab_fan_list_top p { display:block; font-size:13px !important; color:#fff; font-family: Open sans, sans-serif; }
.tab_fan_list_right { float:left; padding:0px 10px; width:14%; }
.tab_fan_list_right p { font-size:12px; color:#fff;  font-family: Open sans, sans-serif; }
.tab_fan_list_btm_text { color:#fff; font-size:13px !important; font-family: Open sans, sans-serif; }

#tab2 { padding-top:6px; }
#tab2 .tab_chan_tp_btns,#tabd2 .tab_chan_tp_btns { right: 0; top: 7px; position: absolute; width: fit-content; display: flex; justify-content: space-evenly; }
#tab2 .each_music_head, #tabd2 .each_music_head { cursor: pointer; width: 100px; float: right; }
#tab2 .music_head_img img, #tabd2 .music_head_img img { height: 25px; }
#tab2 .music_head_img, #tabd2 .music_head_img { width: fit-content; float: right; }
#tab2 .music_head_text, #tabd2 .music_head_text { font-family: Open sans, sans-serif; font-size: 11px; color: #27282A; }
.tab_chan_tp_btns { width:100%; margin-bottom:10px; }
.tab_chan_tp_btns ul { width:100%; }
.tab_chan_tp_btns ul li { float: left; }
.tab_chan_tp_btns ul li:first-child { width: 34%; }
.tab_chan_tp_btns ul li:nth-child(2) { width: 32%; }
.tab_chan_tp_btns ul li:last-child { width: 34%; }
.tab_chan_tp_btns ul li a { display: block; font-size:18px; font-family: Open sans, sans-serif; color:#fff; line-height:28px; padding:0px; -webkit-transition:0.7s all ease-in-out; -moz-transition:0.7s all ease-in-out; -o-transition:0.7s all ease-in-out; transition:0.7s all ease-in-out;   }
.tab_chan_tp_btns ul li a:hover {  font-family: Open sans, sans-serif; color:#bdccd4;  -webkit-transition:0.7s all ease-in-out; -moz-transition:0.7s all ease-in-out; -o-transition:0.7s all ease-in-out; transition:0.7s all ease-in-out; }
.tab_chanel_list_outer { width:100%; }

.tot_awe_pro_outer { width:100%; padding:20px 0px; background: #303234; }
.tot_awe_pro_upper { display: flex; flex-direction: column; align-items: flex-start; width: 100%; }
.user_product_img_thumb {  }
.user_product_img_thumb img { width: 160px; max-width: 160px !important; border-radius: 3px; }
.tot_awe_pro_top { width: 100%; display: flex; flex-direction: row; align-items: stretch; }
.tot_awe_pro_bottom { display: flex; flex-direction: column; width: 100%; }
.tot_awe_pro_left { flex-grow: 1; margin-right: 10px; }
.tot_awe_pro_right { display: flex; flex-direction: column; flex: 0 1 100%; max-height: 120px; }
.tot_awe_pro_outer h3 { color:#fff; font-family: Open sans, sans-serif; text-transform: capitalize; }
.tot_awe_pro_outer p { font-size:14px; color:#fff; font-family: Open sans, sans-serif; line-height: 23px; padding-bottom:20px; }
.teb_chan_moreinfo_sec_outer { border-radius: 3px; cursor: pointer; background: #c3004d; padding: 10px; }
.teb_chan_moreinfo_sec_outer:hover { background: #818181; }
.teb_chan_moreinfo_sec_outer a { display: block; float:left; font-size:16px; font-family: Open sans, sans-serif; color:#fff; }
.teb_chan_moreinfo_sec_outer a:hover { color:#fff; -webkit-transition:0.7s all ease-in-out; -moz-transition:0.7s all ease-in-out; -o-transition:0.7s all ease-in-out; transition:0.7s all ease-in-out;  }
.teb_chan_moreinfo_sec_outer span { display: block; float:right; font-size:16px; font-family: Open sans, sans-serif; color:#fff; }
.pay_quick_item_each { font-size: 12px; color: #444; margin-top: 6px; line-height: 20px; font-weight: bold; }
.pay_quick_item_each span { font-weight: normal; }
.tot_awe_pallete { margin-right: auto; display: flex; flex-direction: row; align-items: center; justify-content: space-between; font-size: 16px; margin-bottom: 20px; }
.tot_awe_pallete_each { padding: 12px; border-radius: 50%; display: flex; align-items: center; justify-content: center; cursor: pointer; margin-right: 10px; margin-top: 10px; }
.tot_awe_liker.active { color: #c3004d; }
.tot_awe_pallete_each:hover { background: #27282A; }

.mejs__container { overflow: hidden; }
.mejs__controls,.mejs__volume-slider { background: none !important; }
.mejs__time-current, .mejs__time-handle-content { background: #444 !important; }
.mejs__time-total { background: #fff !important; }
.mejs__controls { padding-left: 0; padding-bottom: 29px; }
#soundcloudPlayer { display: none; }

.tab_chanel_btn { position: absolute; right: 0; }
.tab_chanel_btn a { display:block; width:30px !important; line-height:14px; font-size:12px;  font-family: Open sans, sans-serif; color:#fc064c; background: #fff ; border:1px solid #fc064c; text-align: center; }
.tab_chanel_btn a:hover { color:#fff; background:#fc064c; }

.user_hm_center .tp_center_video_outer { margin-bottom: 20px; }
.project_rit_btm_list { width:100%; }
.project_rit_btm_list h4 { display: block !important; }
.project_rit_btm_list i { font-style: normal; color: #808080; font-size: 12px; font-family: Open sans, sans-serif; padding: 8px 8px 8px; }
.project_rit_btm_bns_otr { width:100%; padding-top: 30px; }
.project_rit_btm_bns_otr ul { margin: 20px 0 30px 20px; }
.project_rit_btm_bns_otr h3 { color:#404041; font-size:18px; font-family: Open sans, sans-serif; padding:0 8px 8px 8px; }
.project_rit_btm_bns_otr hr { margin-bottom:16px !important; }
.project_rit_btm_bns_otr h4 { font-size:16px !important; font-family: Open sans, sans-serif !important; padding:8px 8px !important; /*font-weight: 600;*/ }
.project_rit_btm_bns_otr p,.user_lsa_subscribe_box p { font-size:14px;  font-family: Open sans, sans-serif; color: #999; line-height: 23px; padding:8px 8px; }
.project_rit_btm_bns_otr strong { color:#fc064c; font-size:16px; font-family: Open sans, sans-serif; padding:8px;display: block; }

.proj_add_sec { cursor: pointer; height: 30px; display: flex; align-items: center; justify-content: space-between; width:100%; color: #fff; font-size:16px; font-family: Open sans, sans-serif; /*font-weight: bold;*/ padding: 0 5px; border-top: 1px solid #fff; border-bottom: 1px solid #fff; margin-bottom:14px; }
.proj_add_sec_added { cursor: pointer; height: 30px; display: flex; align-items: center; justify-content: space-between; width:100%; color: rgb(39, 40, 42); font-size:16px; font-family: Open sans, sans-serif; padding: 0 5px; background: #777; margin-bottom:14px; }
.proj_rit_btm_list_gray .proj_add_sec_added,.proj_add_sec_added b { color: #fff; }
.proj_add_sec b { font-weight: normal; float:right; color:#fff; font-size:16px; font-family: Open sans, sans-serif; }
.proj_rit_btm_list_gray { width:100%; background:#777; }
.proj_rit_btm_list_gray .project_rit_btm_bns_otr p,.proj_rit_btm_list_gray .user_lsa_subscribe_box p { color: #000; }
.proj_rit_btm_list_gray span { width:100%; }
.proj_rit_btm_list_gray h4 { display: block !important; background: url(../images/proj_tick_img.png) no-repeat 98% center; background-size:30px 26px !important; }
.proj_rit_btm_list_gray i { font-style:normal;  color:#808080; font-size:12px; font-family: Open sans, sans-serif;  padding:8px 8px 8px; }
.proj_rit_btm_list_gray ul li { width:100%; padding:8px 8px; }
.proj_rit_btm_list_gray ul li p { width:100%; padding:0px !important; }

.fund_raise_left,.fund_raise_right { float: none; display: block; margin-top: 0; overflow: hidden; width: 100%; margin-bottom: 35px; }
.top_right_chart .fund_raise_left,.top_right_chart .fund_raise_right { margin-bottom: 24px !important; }
.fund_raise_left img { margin: 0 auto; }
.a_percent { height: 80px; margin-top: 35px !important; margin-bottom: 10px !important; }
.fund_raise_left h3.project_line { margin: 0 auto; padding: 10px 0 0 0; color: #fff; text-align: center; font-size: 16px; font-family: Open Sans, sans-serif; }
.fund_raise_status { margin: 5px; text-align: center; color: #fff; }
.fund_raise_status .status_active,.fund_raise_status .status_success { color: #88c44a; font-style: normal; }
.fund_raise_status .status_fail { color: #f1571a; font-style: normal; }
.social_btns { margin-top: 22px; }
.social_btns ul li a { border: 1px solid #fff; border-bottom: none; border-left: none; display: block; font-size:25px; height: 45px; padding: 2px; text-align: center; line-height: 26px; display: flex; align-items: center; justify-content: center; }
.social_btns ul li:last-child a { border-right: none; }
.panel { position: relative; }
.main_panel { position: relative; padding: 0 !important; background: rgb(39, 40, 42); display: block; }
.main_panel .panel_head { position: absolute; top: -35px; right: 0; }
.panel .project_name { margin-bottom: 5px; color: #fff; font-family: Open Sans, sans-serif; font-size: 16px; text-align: right;}
.tab_det_left_sec.tab_det_dsk { padding: 0 20px 20px; }
.tab_det_left_sec { background: #27282A; color: #fff; }

.user_home_left_bar.tab_det_left_sec { max-height: 3500px; height: auto; }
.faq_check_stat { color: #fff !important; font-family: Open sans, sans-serif !important; font-size: 12px !important; }
.story_height_restore { max-height: unset; overflow: unset; }

.remind_login_pop_up { z-index: 10; font-family: sans-serif; }
.remind_login_pop_up p { padding: 0 11px; font-size: 12px; text-align: center; }
.remind_login_pop_up p a { color: #000; font-weight: 600; }

.proj_cnter_story_sec_oter { background: rgb(39, 40, 42); padding: 10px !important; padding-top: 20px !important; }
.proj_cntr_contribut_sec_otr { padding-top: 0px; }
.subsription_box_list { margin-bottom: 14px; }
.subsription_box_list li { margin-bottom: 14px; list-style: disc; color: #999; }
.subsription_box_heading { font-style: normal; color: #fff; font-size: 14px; font-family: Open sans, sans-serif; padding: 30px 8px 8px 3px; margin-bottom: 14px;}
.proj_rit_btm_list_gray .subsription_box_heading { color: #fff; }
.album_tab_lowerSection { background-color: #494749; margin: 0; border: 1px solid #818181; border-top: 0; padding: 20px 12px 10px 12px; width:100%; }
.main_prod_list { margin-left: 25px; color: #1a191c; }
.main_prod_list li{ color: #fff; list-style: unset; font-family: Open sans, sans-serif; line-height: 23px; font-size: 14px; }
.proj_cont_left_inp_outer.proj_email_outer input[type="text"] { float: unset; }

#chart-sharing-popup { width: 330px; z-index: 10; box-shadow: unset; border-width: 1px; }
#chart-sharing-popup .show_link{ padding: 15px 5px; margin: 10px 0; }
#chart-sharing-popup .pro_submit_button_outer { padding: 0; margin-top: 0; }
#chart-sharing-popup .pro_submit_button_outer img { margin: 0 auto; cursor: pointer; margin-bottom: 10px; }

.circle { width: 40px; height: 40px; border-radius: 50%; font-size: 14px; text-align: center; color: #fff; border: 1px solid #999; display: inline-block; line-height: 40px; }
.tabd2_head { font-size: 16px; color: #fff; font-family: Open sans, sans-serif; padding: 20px 0; }
#crowd_funder_toast .message { display: block; }
#short_notice { font-weight: bold; font-family: Open sans, sans-serif; float: right; color: #818181; margin-top: 10px; }

.target_value { color: #fc064c; font-weight: bold; }
.project_txt { color: #13a89e !important; }
.top_right_chart .project_name { color: #444 !important; }
.top_right_chart .bio_sec_percent_image { width: auto !important; height: 110px !important; margin-top: 40px; }

.each-album .album-summary .tab_chanel_img_det { display: flex; flex-direction: column; justify-content: center; position: relative; }
.each-album .buy_np { height: 25px; border: 0 !important; margin-right: 10px; right: 5px; }
.each-album-music .buy_np { height: 25px; border: 0 !important; margin-right: 10px; }
.each-album .main_an { max-width: 117px; min-width: 117px; }
.each-album .buy_np,.each-album-music .fav_np,.each-album-music .buy_np { background: none !important; font-size: 20px; color: transparent; -webkit-text-stroke-width: 0.8px; -moz-text-stroke-width: 0.8px; -webkit-text-stroke-color: #fff; -moz-text-stroke-color: #fff; }
.each-album .album-summary .tab_chanel_img_det a { font-size: 16px; font-family: Open sans, sans-serif; font-weight: normal; }
.each-album .album-summary .tab_chanel_img_det p { font-size: 14px; font-family: Open sans, sans-serif; font-weight: normal; line-height: unset; margin-top: 4px; }

.ch_sup_feature_tab { color: #13a89e; }
.chart_disabled { cursor: auto; }
.chart_disabled i,.chart_disabled img{ opacity: 0.3; }
.social_btns .full_support_me:not(.chart_disabled) img:hover,.social_btns .ch_sup_fb:not(.chart_disabled) i:hover { opacity: 0.75; }
.social_btns .full_support_me img { max-height: 30px; }

.double_card.chart { background: #fff url(../images/double_chart_partner.png) no-repeat 100%; }
.double_card.tv { background: #fff url(../images/double_tv_partner.png) no-repeat 100%; }
.double_card.live { background: #fff url(../images/double_studio_partner.png) no-repeat 100%; }
.double_card.search { background: #fff url(../images/double_studio_partner.png) no-repeat 100%; }
.double_card { height: 286px; overflow: hidden; position: relative; }
.double_card,.double_card div,.double_card label,.double_card label div,.double_card img { cursor: pointer; transition: 0.5s all ease-in-out; }
.double_card .side_nav_head_top, .double_card .side_nav_head_bottom { border: none !important; background: unset; font-size: 16px !important; color: #909090; }
.double_card .side_nav_head_top {  padding: 10px 0 0 0; }
.double_card .side_nav_head_bottom { line-height: 22px; padding: 0; width: 75%; }
.double_card .card_foreground, .card_chart_winner .card_foreground { position: absolute; top: 0; right: 0; }
.double_card .trig_click img { height: 100px; margin: 30px 0 30px 20px; }
.double_card .side_nav_head_bottom .bottom_info_head { color: #fc064c; font-weight: bold; font-family: Open sans, sans-serif; font-size: 22px; margin: 0 0 5px 0; }
.double_card .side_nav_head_bottom .bottom_info_body { color: #444; font-size: 19px; margin: 0 0 10px 0; }
.double_card:last-child { margin-bottom: 30px; }
.double_card .position_badge, .card_chart_winner .position_badge { position: absolute; top: 15px; right: 30px; font-size: 36px; color: #fff; font-weight: bold; font-family: Open sans, sans-serif; text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }
.double_card:hover .side_nav_head_top, .double_card:hover .side_nav_head_bottom, .double_card:hover .bottom_info_head, .double_card:hover .bottom_info_body { color: #fff; text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }
.double_card:hover { background-color: #999; }

#add_item_free_popup { border: 1px solid #000; color: #000; font-family: Open sans, sans-serif; }
#add_item_free_popup #head { width: 100%; margin-bottom: 40px; position: relative; font-size: 18px; display: flex; align-items: center; justify-content: center; }
#add_item_free_popup #body { line-height: 30px; margin-bottom: 40px; text-align:left; font-size: 17px; }
#add_item_free_popup #head i { margin-left: auto; }
#add_item_free_popup .price_right_in { padding-left: 5px; float: right; border: 1px solid #999; max-width: 80px; }
#add_item_free_popup #body .price_left { float: left; display: inline-block; width: 49%; }
#add_item_free_popup #body .price_right { display: inline-block; width: 49%; }
#add_item_free_popup #body .price_right #currency { width: 10%; }
#add_item_free_popup #body .price_right #price { color: #000; width: 85%; border: 0; font-size: 16px; margin-top: 1px; }
#add_item_free_popup #body #price_outer { margin-top: 30px; }
#add_item_free_popup #item_owner { font-style: italic; color: #27282A; }
#add_item_free_popup #add_to { margin-top: 30px; border: 1px solid #000; color: #000; font-size: 17px; text-align: center; font-family: Open sans, sans-serif; cursor: pointer; }

#pay_quick_popup .pay_item_details { display: flex; flex-direction: row; }
#pay_quick_popup .pay_item_details_left { margin-right: 10px; }
#pay_quick_popup .pay_item_thumb img { max-height: 110px; border: 2px solid #eaeaea; }
#pay_quick_popup .pay_item_details_right { display: flex; flex-direction: column; justify-content: space-between; }
#pay_quick_popup .pay_item_det_each { color: #777; }
#pay_quick_popup .item_heading { margin: 20px 0; text-decoration: underline; cursor: pointer; width: fit-content; }
#pay_quick_popup .item_heading i { font-size: 13px; }
#pay_quick_popup .item_price_each { color: #27282a; display: flex; width: 100%; justify-content: space-between; margin: 15px 0; }
#pay_quick_popup .item_price_grand_total { font-weight: bold; }
#pay_quick_popup .pay_item_purchase_qua { display: flex; align-items: center; }
#pay_quick_popup .pay_item_purchase_qua_subt,#pay_quick_popup .pay_item_purchase_qua_add { border: 1px solid #ccc; padding: 3px; cursor: pointer; font-size: 11px; }
#pay_quick_popup .pay_item_purchase_qua_num { margin: 0 8px; }
#pay_quick_popup .item_price_sec_val { display: flex; flex-direction: row; align-items: center; }

.fan_support_btn { display: flex; align-items: center; margin: 0 auto; width: fit-content; padding-bottom: 10px; border-bottom: 1px solid #27282A; }
.fan_support_ic { margin-right: 20px; }
.fan_support_btn .fan_support_text a { font-family: Open sans, sans-serif; color: #fff; font-size: 17px; }

.tv_slide_out_outer { padding: 10px 30px 30px; }
.tv_slide_out_outer .tv_menu_each#tv_menu_carosel { margin-top: 30px; }
.tv_slide_out_outer .tv_menu_each { margin-bottom: 30px; }
.tv_slide_out_outer .tv_menu_each img { border-radius: 5px; }
.tv_slide_out_outer #tv_menu_carosel { position: relative; display: flex; justify-content: space-between; }
.tv_slide_out_outer .tv_carosel_each { max-width: 45%; }
.tv_slide_out_outer .tv_carosel_each .carosel_bottom { color: #444; display: flex; flex-direction: column; }
.tv_slide_out_outer .tv_carosel_each .carosel_bottom .carosel_btm_one { margin: 5px 0; }
.tv_slide_out_outer .carosel_btm_two, .tv_slide_out_outer .carosel_btm_three{ display: flex; margin: 3px 0; }
.tv_slide_out_outer .btm_sub_each:not(:first-child) { margin-left: 10px; }
.tv_slide_out_outer .btm_sub_each .percent_store { max-width: 20px; }
.tv_slide_out_outer .btm_sub_each i { font-size: 18px; }
.tv_slide_out_outer .carosel_btm_two, .tv_slide_out_outer .carosel_btm_two { font-size: 14px; }
.tv_slide_out_outer .carosel_btm_one { font-size: 16px; font-family: Open sans, sans-serif; color: #000; }
.tv_slide_out_outer .carosel_nav { width: 100%; position: absolute; top: 50%; transform: translateY(-50%); }
.tv_slide_out_outer .carosel_nav .left_nav { cursor: pointer; font-size: 20px; position:absolute; color: #27282A; left: -20px; }
.tv_slide_out_outer .carosel_nav .right_nav { cursor: pointer; font-size: 20px; position:absolute; color: #27282A; right: -20px; }

.spacer { background-color: #fff; min-height: 5px; margin-bottom: 20px; }
.vid_preloader { background: url(../images/vid_loader.gif) no-repeat center center #27282A; background-size: 100px; }
.lazy_tab_img { width: 100px; margin: 0 auto; }
.pre_header_banner { margin-top: 59px; }
#offer_guide { width: auto !important; background: #fff; color: rgb(39, 40, 42); margin-left: 50px; border-radius: 15px 0 0 15px; padding: 0 15px; display: flex; justify-content: center; cursor: pointer; align-items: center; }

.each_social_item { flex-grow: 1; }
.each_social_item:not(.instagram_feed_outer) { float: left; width: 50%; }
.each_social_item.instagram_feed_outer { width: 100%; float: left; }
.social_ma_head { font-size: 17px; text-align: center; padding: 10px 0; font-family: Open sans, sans-serif; color: #000; background: #fff; }
.social_ma_row { display: flex; border-top: 1px solid #000; margin-bottom: 20px; border-bottom: 1px solid #000; position: relative; }
.social_ma_row .each_social_item:first-child { padding-right: 1px; }
.social_ma_row .each_social_item:last-child { padding-left: 1px; }
.each_social_separator { border-right: 1px solid #000; width: 1px; height: 100%; left: 50%; position: absolute; }
#instagram_id { display: flex; flex-direction: row; flex-wrap: wrap; max-height: 500px; overflow: auto; }
#instagram_id .each-post { display: flex; justify-content: center; margin-bottom: 5px; flex: 0 1 48%; margin-right: 1%; }
.instagram_feed_outer .instagram_feed_head { height: 60px; margin: 0 auto; }
.social_ma_outer *::-webkit-scrollbar { height: 12px; width: 3px; background: none; }
.social_ma_outer *::-webkit-scrollbar-thumb { background: #ccc; -webkit-border-radius: 1ex; -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75); }
.social_ma_outer *::-webkit-scrollbar-corner { background: none; }
#load-more-instagram-posts { text-align: center; font-size: 16px; display: block; font-family: Open sans, sans-serif; color: #fff; }

.each_user_live_stream { flex-direction: column; align-items: flex-start; }
.each_user_live_stream .user_live_stream_basic { display: flex; flex-direction: row; align-items: center; width: 100%; }
.each_user_live_stream .user_live_stream_det { border: 1px solid #ccc; border-top: 0; width: 100%;}
.each_user_live_stream .user_ls_pre_accord { padding: 20px 10px; font-size: 15px; }
.each_user_live_stream .lock_outer { margin-top: 5px;right: 0;color: #999;display: flex; font-size: 15px; flex-direction: column; align-items: center; }
.each_user_live_stream .tab_chanel_btn { margin-left: auto; }
.each_user_live_stream .user_lsa_body,.each_user_live_stream .user_live_stream_det { display: none; }
.each_user_live_stream .user_lsa_head { border-top: 1px solid #ccc;padding: 20px 10px;display: flex; flex-direction: row; color: #fff; justify-content: space-between; }
.each_user_live_stream .user_lsa_head i { font-size: 18px; }
.each_user_live_stream .user_lsa_body { padding: 0 10px 10px 10px; }
.each_user_live_stream .user_lsa_subscribe_box { max-width: 500px; margin: 0 auto; border: 1px solid #ccc; padding: 0 10px; }
.each_user_live_stream .user_lsa_follow { width: 100%; max-width: 500px; margin: 0 auto; }
.each_user_video { display: flex; align-items: center; }
.each_user_video:not(.active_video_list):not(.empty_video_list):hover,.each_user_video.empty_video_list .user_live_stream_basic:hover { background:#000; -webkit-transition:0.3s all ease-in-out; -moz-transition:0.3s all ease-in-out; -o-transition:0.3s all ease-in-out; transition:0.3s all ease-in-out;  }
.user_live_stream_basic:hover .tab_chanel_img_det a { color: #fff; }

.login_separator { display: flex; flex-direction: row; align-items: center; }
.login_separator:not(.slim) { margin: 10px 0; }
.login_separator_right,.login_separator_left { flex: 0 1 100%; border-bottom: 3px solid #eaeaea; }
.login_separator_center { min-width: fit-content; margin: 0 15px; text-align: center; font-size: 13px; color: #d6d6d6; }
.social_login_outer { display: flex; flex-direction: row; align-items: center; justify-content: space-between; padding-bottom: 15px; border-bottom: 3px solid #eaeaea; }
.social_login_each .social_login_ic { margin-right: 5px; }
.social_login_each { cursor: pointer; border: 1px solid #818181; padding: 5px; display: flex; flex-direction: row; align-items: center; flex: 0 1 25%; }
.social_login_each .social_login_val a { color: #818181; }

.auth_social_logins_outer { margin: 0 auto; text-align: center; display: flex; justify-content: center; flex-direction: column; }
.auth_social_logins_inner { display: flex; align-items: center; justify-content: center; }
.auth_social_each { margin-right: 10px; }
.auth_social_each a { color: #fff; }
.auth_social_each i { width: 40px; height: 40px; display: flex; align-items: center; justify-content: center;  font-size: 20px; border-radius: 50%; color: #fff; }
.auth_social_each.auth_social_fb i { background-color: #3b5998;  }
.auth_social_each.auth_social_twit i { background-color: #08a0e9;  }
.auth_social_each.auth_social_insta i { background-color: #222;  }
.auth_social_each.auth_social_google i { background-color: #df4b37; }
.login_register_text_02 { font-family: Open sans, sans-serif; margin-top: 15px; }
.login_register_text_02 span { color: #777; font-size: 12px; }
.login_register_text_02 a { color: #3b5998; font-size: 12px; font-weight: bold; text-decoration: underline; }
.login_register_text_02 a:hover { text-decoration: underline; }

.add_basket_btn { cursor: pointer; }
.add_basket_btn.btn_full { flex: 0 1 100%; }
.add_basket_btn:not(.btn_full) { flex: 0 1 46%; }
.add_basket_btn .normal_price { text-decoration: line-through; }
.tot_awe_pro_offer { background: #fff; padding: 6px; border-radius: 3px; flex: 0 1 40%; }
.tot_awe_pro_offer_left { display: flex; align-items: center; text-align: center; justify-content: center; }
.tot_awe_pro_offer_ic { font-size: 18px; font-family: SANS-SERIF; display: flex; flex-direction: row; align-items: center; text-transform: uppercase; }
.tot_awe_pro_offer_ic img { margin-right: 12px; }
.tot_awe_pro_offer_countdown { display: flex; align-items: center; flex-direction: row; }
.big_offer_cowntdown_each { display: flex; flex-direction: row; align-items: center; margin-right: 10px; }
.big_offer_cowntdown_each:last-of-type { margin-right: 0; }
.big_offer_cowntdown_up { display: flex; flex-direction: row; }
.big_offer_cowntdown_down { font-size: 14px; margin-left: 3px; color: #27282A; }
.big_offer_countdown_bx { background: #c3004d; padding: 4px 5px; font-size: 14px; margin: 0 1px; border-radius: 3px; font-weight: bold; height: 25px; }

#spotify-follow-button-contain { margin-top: 9px; margin-bottom: 10px; }
.tot_usd_shiping input[type=text] { color: #fff; }

.page_title { margin-top: 30px; font-size: 18px; }
.tot_awe_stand { color: #fff; }

.choose_music_license_outer { margin-top: 15px; max-height: 400px; overflow-y: auto; }
.choose_music_license_contain { margin-bottom: 20px; box-shadow: 0 0 13px #ccc; background: #fff; padding: 5px; }
.choose_music_license_each { display: flex; flex-direction: row; align-items: center; cursor: pointer; }
.choose_music_license_input input { margin-right: 5px; margin-top: 4px; cursor: pointer; }
.choose_music_license_price { margin-left: auto; cursor: pointer; font-size: 13px; }
.choose_music_license_name { cursor: pointer; font-weight: bold; font-size: 13px; }
.choose_music_license_terms_contain { display: flex; flex-direction: column; }
.choose_music_license_terms_each { padding-left: 2px; font-size: 12px; display: none; }
.choose_music_license_topen { display: flex; flex-direction: row; align-items: center; margin-bottom: 10px; margin-top: 10px; color: #999; border-bottom: 1px solid #ccc; padding-bottom: 6px; }
.choose_music_license_topen_icon { margin-right: 5px; display: none; }
.choose_music_license_terms_handle { margin-top: 5px; display: flex; align-items: center; margin-left: 1px; font-size: 12px; }
.choose_music_license_terms_handle i { font-size: 18px; margin-right: 5px; cursor: pointer; }
.choose_music_license_terms_handle span { cursor: pointer; }
.choose_music_license_submit { width: 130px; background: #007bff; color: #fff; padding: 7px; text-align: center; font-size: 14px; text-transform: uppercase; float: right; margin-top: 20px; cursor: pointer; }
.choose_music_license_submit.disabled { opacity: 0.4; cursor: not-allowed; }
#choose-music-license .no_records { margin: 0 0 20px 0; font-size: 19px; color: #ccc; font-weight: normal; text-align: center; }

@media (min-width:768px) and (max-width: 1024px) {

	.ch_center_outer h4 { font-size:18px; }
	.ch_center_outer { padding:2px 8px 10px !important; }
	.pricing_setail p { font-size:12px;}
    .pricing_setail ul li { padding-bottom:2px; }
    .pricing_setail ul li h3, .pricing_setail ul li .header3 { font-size: 18px; padding-bottom: 0; }
	.pricing_setail ul li p { font-size: 12px; }
	.fund_raise_left, .fund_raise_right { margin-top: 0; }
	.social_btns { margin-top: 0; }
	.tab_btns_outer .each_tab_btn .border { transform: translateY(4px); }
	.ch_tp_sec_left .tp_sec_in_det { width: 54%; }
	.ch_tp_sec_left ul li a { font-size:9px !important; margin-bottom:2px !important;}
	.ch_tp_sec_left a { width: 120px; }
	.tp_sec_in_det a strong { font-size:12px;}
	.tp_sec_in_det a { font-size:11px; margin-bottom:2px !important; }
	.ch_bag_pric_sec { padding:24px 0px }
	.ch_bag_pric_sec span { width:42px; padding-bottom:15px; }
	.ch_bag_pric_sec { padding:30px 0px; }
	.ch_tab_det_outer { padding:10px 4px; }
	.panel .project_name { font-size: 20px; }
	.social_supp_btns ul li a { font-size:16px; line-height:24px; background:#999; }
	.social_supp_btns ul li.full_btn a { font-size:16px; line-height:28px; }
	.btm_text_stor_outer label { font-size:14px;}
	.btm_text_stor_outer p { font-size:12px; line-height:20px; }
	.hm_lst_slid_inner { padding:20px 24px; }
	.tab_chan_tp_btns ul li { margin: 0; padding-right: 6px; }
	.tab_chan_tp_btns ul li a { font-size:14px; }
	.tab_chanel_btn { padding-top:2px; }
	.tab_chanel_btn a { width: 44px !important; line-height: 22px; font-size: 18px; font-weight: bold; }
	.tot_awe_pro_outer h3 { padding-bottom:10px; }
	.teb_chan_moreinfo_sec_outer a { font-size:14px; }
	.teb_chan_moreinfo_sec_outer span { font-size:14px; }
	.tab_fan_list_top a { width:36%; }
	.tab_fan_list_top a img { height:auto; }
	.tab_fan_list_right { padding:0px; }
	.user_hm_center { display:block !important; }
	.project_rit_btm_bns_otr h3 { font-size:14px; }
	.project_rit_btm_bns_otr h4 { font-size:12px; background-size: 20px 18px !important; }
	.project_rit_btm_bns_otr p { font-size:12px; }
	.proj_cntr_contribut_sec_otr { padding-bottom:30px; }
	.proj_cntr_contribut_sec_otr h3 { font-size:16px;  }
	.proj_cont_left_img_textarea textarea { height:111px; }
}

@media (min-width:768px) {

	.ch_center_outer { width: 98%; }
	.ch_center_outer h4 { line-height: 40px; }
	.ch_center_outer h4 .cent_undo_btn { height: 21px; width: 18px; }
	.jp-interface { display: none; }

    .ch_tab_det_outer { border: none; }
    .btm_text_stor_outer { padding: 25px 0; }
    .panel { background-color: rgb(39, 40, 42); margin-bottom: 20px; padding: 10px; position: relative; color: #fff; }

	.tab_chan_tp_btns ul li { float: none; margin: 20px 0 20px 0; width: 210px !important; }
	.tab_chan_tp_btns ul li.music,.tab_chan_tp_btns ul li.album,.tab_chan_tp_btns ul li.store { width: 100%; }

	.pricing_setail ul li p { font-family: Open sans, sans-serif; font-size: 14px; }
	.pricing_setail ul li h3, .pricing_setail ul li .header3 { font-size: 16px; padding-bottom: 5px; }

	.tab_fan_list_outer { padding: 10px; }
	.tab_fan_list_det { width: 68%; }
	.user_home_left_bar.tab_det_left_sec { height: auto; }
	.twitter_feed_outer { overflow: hidden; }
	.ch_tab_det_outer { padding: 10px 0; }

	.user_hm_center .tp_center_video_outer {  margin-bottom: 0; }
    .proj_cntr_contribut_sec_otr h3 { text-align: left; }
    .project_rit_btm_bns_otr h4, .user_lsa_subscribe_box h4{ text-align: center; }

    .tot_awe_pro_outer { padding: 20px 10px; margin-bottom: 40px; }
	.tot_awe_pro_outer h3 { font-size: 18px; }

	.tab_fan_list_top a { width: 210px; }
	.tab_fan_list_top img { height: auto; }

	.social_supp_btns ul li a { font-size: 18px; margin: 10px auto; }
}

@media (min-width:1200px) and (max-width: 1291px) {

	.social_supp_btns ul li a { line-height:29px; }
	.tab_chan_tp_btns ul li { padding-right:20px; }
	.tab_chan_tp_btns ul li a { font-size:16px;}
	.hm_lst_slid_inner { padding:20px 24px; }
}

@media (width:1199px)  {

    .ch_bag_pric_sec { padding:33px 0px; }
    .ch_bag_pric_sec span { padding-bottom:11px; }
}

@media (min-width:1025px) and (max-width: 1199px) {

	.ch_bag_pric_sec span { width:60px; padding-bottom:14px; }
	.ch_bag_pric_sec { padding:24px 0px; }
	.social_supp_btns ul li a { line-height:28px; }
	.ch_bag_pric_sec span { padding-bottom:30px; }
	.tab_chan_tp_btns ul li { padding-right:6px; }
	.tab_chan_tp_btns ul li a {  font-size:14px; }
	.hm_lst_slid_inner { padding:20px 24px; }

	.tab_fan_list_top a { width:42%; }
	.tab_fan_list_top a img { height:auto; }
	.tab_fan_list_det { width:47%; }
	.tab_fan_list_right { width:7%; padding:0px; }
}

@media (min-width:1024px) {


}

@media (width: 1024px) {

	.pricing_setail { padding-bottom:12px; }
	.pricing_setail ul li { padding-bottom:16px; }
	.ch_bag_pric_sec { padding:27px 0px; }
	.social_supp_btns ul li a { line-height:28px; }
	.tab_chan_tp_btns ul li { padding-right:32px; }
	.tab_chan_tp_btns ul li a { font-size:14px; }
	.proj_cont_left_img_textarea textarea { height:143px; }
}

@media (min-width:320px) and (max-width: 767px) {

	.tab_det_left_sec.tab_det_dsk { padding: 0 7px 7px !important; }
	.tot_awe_pro_offer_ic { font-size: 14px !important; }
	.big_offer_cowntdown_down,.big_offer_countdown_bx { font-size: 11px; height: 20px; padding: 2px 4px; }
	.tot_awe_pro_offer { display: flex; align-items: center; justify-content: center; flex-direction: column; width: 65%; padding: 3px; }
	.tot_awe_pro_offer_left{ margin-bottom: 15px; }
	.tot_awe_pro_offer_countdown { justify-content: center; }
	.big_offer_cowntdown_each { flex-direction: column; }
	.add_basket_btn:not(.btn_full) { width: 32%; flex-direction: column; }
	.add_basket_btn:not(.btn_full) i { margin-bottom: 4px; }
	.add_basket_btn.btn_full i { margin-right: 12px; padding: 2px; }
	.add_basket_btn i { color: #fff; }
	.add_basket_btn { display: flex; align-items: center; justify-content: center; }
	.teb_chan_moreinfo_sec_outer { padding: 5px; }
	.teb_chan_moreinfo_sec_outer span { font-size: 14px; }
	.tot_awe_pallete { width: 100%; }
	.tot_awe_pallete_each { margin-right: 0; }
	.tot_awe_pro_outer { position: relative; padding: 0; margin-bottom: 30px; }
	.tot_awe_title { text-align: center; position: absolute; top: 0; background: #000; width: 100%; margin: 0; padding: 0; left: 0; opacity: 0.7; font-weight: bold; }
	.tot_awe_pro_bottom { padding: 7px; }
	.tot_awe_pallete_each { background: #27282A; }

	.port_head { flex-direction: column !important; align-items: flex-start !important; }
	.port_add_basket { width: fit-content; margin-top: 10px; }

	.panel { background-color: rgb(39, 40, 42); color: #fff; padding: 5px 0; }
	.ch_tab_sec_outer.mobile-only { background: rgb(39, 40, 42); color: #fff; border-top: 1px solid #fff; }
	.top_info_outer { padding: 0 11px; }
	.each_user_live_stream .lock_outer { font-size: 11px !important; }
	.a_percent { margin-top: 0 !important; }
	.vid_preloader { background-size: 50px !important; }
	.lyrics_detail.overflowing { max-height: 80px !important; }

	.fund_raise_status { margin: 10px !important; }
	.fund_raise_left { padding-top: 30px; }
	.fund_raise_left h3.project_line { padding: 0 !important; font-size: 14px !important; }
	.pricing_setail ul li h3 { font-size: 12px !important; line-height: 12px !important; }
	.pricing_setail ul li .header3 { font-size: 15px !important; }
	.pricing_setail ul li p { padding-bottom: 5px !important; font-size: 12px !important; line-height: 12px !important; }
	.fund_raise_left, .fund_raise_right { margin-bottom: 0 !important; }
	.pricing_setail .fleft { margin-bottom: 5px !important; }
	.tab_btns_outer .each_tab_btn.tab_btn_crowd_fund { font-size: 12px !important; }

	.portfolio_each:not(.site_program) .each_port_up { max-height: 110px !important; }
	.each_port_up span { padding: 5px !important; font-size: 10px !important; }
	.portfolio_each { flex: 0 1 48% !important; margin-bottom: 10px !important; margin-right: 2% !important; }
	.each_port_name { letter-spacing: 0 !important; text-transform: unset !important; font-size: 12px !important; font-weight: normal !important; }
	.portfolio_det_outer { padding: 20px !important; }
	.port_front_para { line-height: 17px !important; }
	.portfolio_det_elem_each iframe { height: 100% !important; }

	.user_product_img_thumb img { width: unset !important; }
	.each_user_live_stream .user_product_img_thumb img { height: auto !important; }
	.each_user_live_stream .tab_chanel_img_det p, .each_user_video .tab_chanel_img_det p { font-size: 11px; }
	.tot_awe_pro_top { margin-bottom: 10px; flex-direction: column; }
	.tot_awe_pro_left { margin-right: 0; }
	.tot_awe_pro_right { max-height: unset; padding: 5px; }
	.tot_awe_purchase { margin-top: unset; align-items: stretch; }
	.user_product_img_thumb img { max-width: 100% !important; }
	.tot_awe_pro_upper { flex-direction: column; }

	.ch_select_options { align-items: unset; flex-direction: column-reverse; }
	.make_offer_outer { height: 33px;padding: 0px 15px; font-size: 12px; justify-content: unset; width: 100%; border: none; border-bottom: 1px solid #fff; }
	#tab2 .tab_chan_tp_btns, #tabd2 .tab_chan_tp_btns { top: 45px !important; }
	#tab2 .each_music_head,#tabd2 .each_music_head { width: 50px !important; }
	#tab2 .music_head_img img,#tabd2 .music_head_img img { height: 18px !important; }
	#offer_guide { margin: 18px 0 23px 0 !important; border-radius: 15px !important; }
	.jp-video .jp-interface { background: #fff !important; padding: 30px 0 0 0 !important; }
	.buy_np { margin-top: 0 !important; }
	.ch_cent_right_outer { width:100%; float:none; padding-bottom:20px; }
	.ch_left_sec_outer { width:100%; float:none; padding-bottom:20px !important;  padding-left: 7px !important; padding-right: 7px !important; }
	.ch_center_outer { width:100%; float:none; padding: 0 0 20px 0; }
	.ch_bag_pric_sec { padding:10px 0px; }
	.btm_text_stor_outer label { padding-bottom:10px; }
	.btm_text_stor_outer p { padding-bottom:10px; font-size:12px; }
	.ch_center_outer h4  { letter-spacing:0.5px; display: none; }
	.tab_det_inner:not(.right_height_res) { height:313px !important; }
	.tab_det_inner { width:100%; position: relative; overflow: hidden; max-height: 670px; }
	.tab_det_inner.pro10 { max-height: 7300px; }
	.tab_det_inner.expanded { max-height: unset !important; }
	.tab_det_inner.expanded.leave .read-more { display: none; }
	.tab_det_inner .read-more { background: #999; bottom: 0; color: #fff !important; display: block; left: 33%; line-height: 2.4em; opacity: .7; position: absolute; text-align: center; z-index: 9; width: 120px; }
	.right_height_res { padding-bottom: 60px; }
	.project_rit_btm_bns_otr { padding: 30px 7px 0 7px !important; }
	.project_rit_btm_bns_otr h4 { color: #fff !important; font-size:12px; text-align: center; background-size: 20px 18px !important; }
	.circle { line-height: 27px !important; width: 28px !important; height: 28px !important; }
	.tabd2_head { color: #fff; font-size: 15px !important; padding: 2px 0; margin: 5px 0 !important; }
	.lazy_tab_img { width: 60px; margin: 0 auto; }
	.project_name { text-align: center !important; }
	.panel .project_name { font-size: 14px !important;  }
	.proj_add_sec,.proj_add_sec b { font-size: 14px !important; }
	.twitter_feed_outer { margin: 0 auto; float: unset !important; width: 95%; margin-top: 30px; }

	.jp-video-360p { width:100% !important; }
	#jp_poster_0 { width:100% !important; }
    .jp-video .jp-type-single .jp-controls { width:22px !important; }
    .jp-audio, .jp-audio-stream, .jp-video b { line-height:14px; }

	.each_social_item { float: none !important; width: 100% !important; }
	.social_ma_row { flex-direction: column; }
	.social_ma_row .each_social_item:last-child,.social_ma_row .each_social_item:first-child { padding: 0  !important; }
	.each_social_separator { display: none; }
	.twitter_scroll_body, #instagram_id { max-height: unset !important; }
	.ch_video_detail_outer { margin-bottom: 20px; }

    .double_card { margin-top: 30px; }
    .double_card, .card_chart_winner { border: 1px solid #999; padding: 5px; }
    .double_card .trig_click img { margin: 20px 0 20px 20px !important; }
    .double_card .side_nav_head_top, .double_card .side_nav_head_bottom { font-size: 14px !important; }
    .card_chart_winner .user_hm_rt_btm_otr, .double_card .user_hm_rt_btm_otr { padding: 0 !important; border: none !important; }
    .card_chart_winner .user_hm_rt_btm_otr label, .double_card .user_hm_rt_btm_otr label { background-color: unset !important; display: block !important; }
    .card_chart_winner .side_nav_head_bottom, .card_chart_winner .side_nav_head_top { font-size: 16px !important; }

    .tab_fan_list_det { display: flex; float: none; flex-direction: column; width: auto; }
    .tab_fan_list_det a { font-size: 13px; color: #fff; margin-bottom: 2px; font-family: Open sans, sans-serif; }
    .tab_fan_list_top p { color: #fff; margin-bottom: 2px; }
    .tab_fan_list { padding-bottom: 35px; }
    .tab_fan_list_btm_text { line-height: 14px; color: #fff; }
    .tab_fan_list_top { padding-bottom: 5px; }
    .tab_fan_list_right p { color: #fff; }
    .fan_support_btn .fan_support_ic img { height: 30px !important; }
    .fan_support_btn .fan_support_text a { font-size: 13px !important; }

    .chart_outer .ch_center_outer { padding: 0 7px 0 7px !important; }
    .chart_outer .ch_cent_right_outer { padding: 0 !important; }
    .chart_outer .ch_tab_sec_outer.mobile-only { margin-bottom: 20px; }
    .tot_awe_pro_colors,.tot_awe_pro_sizes,.tot_awe_pro_quantity { margin-left: 0; }

    .content_outer:not(.playing) .content_inner { padding: 0 !important; }
    .content_outer:not(.playing) .user_hm_center .tp_center_video_outer { margin-bottom: 0 !important; }
    .content_outer.playing .content_inner { padding-left: 0 !important; padding-right: 0 !important; }

    .tot_awe_pro_outer h3 { font-size: 15px; line-height: 25px; padding: 6px 0; }
    .tot_awe_pro_outer p,.main_prod_list li { font-size: 13px; }

    .target_value { font-size: 20px; }
}

@media (min-width:500px) and (max-width: 640px) {

	.ch_tab_sec_outer { padding-bottom:20px; }
	.tab_chan_tp_btns ul li { padding-right: 18px; }
	.right_height_res{ height:442px !important; }
}

@media (min-width:641px) and (max-width: 767px) {

	.ch_tab_sec_outer { padding-bottom:20px; }
	.tab_chan_tp_btns ul li {  padding-right: 253px; }
}
