

.pro_left_sec_outer { width:24%; float:left; }
.pro_left_btns_outer { width:100%; padding-top:22px; }
.pro_left_btns_outer ul {  width:100%;}
.pro_left_btns_outer ul li { position:relative; display: flex; justify-content: space-between; margin-bottom: 17px; padding: 12px 20px; background: #cccccc; width:100%; -webkit-transition:0.7s all ease-in-out; -moz-transition:0.7s all ease-in-out; -o-transition:0.7s all ease-in-out; transition:0.7s all ease-in-out; }
.pro_left_btns_outer ul li a { font-family: Open sans, sans-serif; display: block; color:#555; font-size:16px; -webkit-transition:0.7s all ease-in-out; -moz-transition:0.7s all ease-in-out; -o-transition:0.7s all ease-in-out; transition:0.7s all ease-in-out;  }
.pro_left_btns_outer ul li i { font-size: 17px; cursor: pointer; }
.pro_left_btns_outer ul li.pro_tb_active { background: #efefef; }
.pro_left_btns_outer ul li.pro_tb_active a { color: #000; }
.pro_tb_each:not(.complete) i { color: #dc3545; }
.pro_stript_btn:not(.connected) { display: block; width:290px; height:54px; background: url(../images/pro_stript_btn.png) no-repeat center center; }
.pro_stript_btn.connected { display: block; height:54px; background: url(../images/pro_stripe_connected.png) no-repeat center center; }
.pro_right_sec_outer { width:73%; float:right; }
.pro_right_tb_det_outer { width:100%; padding: 0px 6px 0px 0px; }
.pro_pg_tb_det { width:100%; display: none; }
.pro_pg_tb_det_inner { width:100%; }
.pro_my_profil_sec { width:100%; }
.pro_my_profil_sec h2 { position: relative; color:#fff; background: #666; padding: 7px 5px; line-height: 30px; font-family: Open sans, sans-serif; font-size:18px; text-transform: capitalize;  }
.pro_plus_icon i { color: #818181; margin-right: 13px; }
.pro_plus_icon { position: relative; display: flex; align-items: center; }
.pro_plus_icon .icon { font-family: Open sans, sans-serif; position: absolute; right: 12px; font-size: 30px; color: #818181; cursor: pointer; }
.pro_music_instruments_outer,.pro_music_moods_outer { position: relative; padding-bottom: 0 !important; }
.pro_inp_list_outer { width:100%; padding-top:30px; }
.profile_custom_drop_each { display: flex; align-items: center; margin-right: 25px; margin-top: 5px; float: left; color: #666; }
.profile_custom_drop_icon { cursor: pointer; color: #a94442; font-size: 12px; }
.profile_custom_drop_title { margin-right: 7px; }
.pro_inp_outer { display: flex; width:100%; border-bottom:1px solid #ccc; margin-bottom:35px; }
.pro_custom_drop_res { width: 100%; position: absolute; top: 100%; margin: 0; background: #fff; border: 1px solid #818181; min-height: 100px; z-index: 1; }
.pro_custom_drop_res.left_adjusted { left: -1px; }
.profile_custom_dropdown_outer { margin-bottom: 0px; position: relative; }
.music_instruments_saved,.music_moods_saved { border-radius: 0 0 3px 3px; border: 1px solid #ccc; padding: 5px 10px; margin-bottom: 16px; min-height: 35px;  }
.profile_custom_dropdown_results_outer { display: flex; flex-direction: row; align-items: center; justify-content:center; border-radius: 0 0 3px 3px; border: 1px dashed #ccc; padding: 5px 10px; min-height: 35px; margin: -1px auto 35px auto; }
.pro_inp_outer label { height: 20px; display:block; width:12%; border-right: 1px solid #ccc; color:#666; font-size:14px; font-family: Open sans, sans-serif; text-transform: capitalize; white-space: nowrap; overflow: hidden; }
.pro_inp_right { width:88%; position: relative; }
.pro_inp_right .pro_inp_right_link { color: #000; }
.pro_inp_right .pro_inp_right_link:hover { text-decoration: underline; }
.pro_inp_right input { width:100%; padding:0px 20px; color:#666; font-size:14px; font-family: Open sans, sans-serif; letter-spacing: 1px; }
.pro_inp_right label { border: none; }
.pro_select_outer{ width:100%; padding-left:18px;}
.pro_select_outer ul li { float:left; width:auto; margin-right:50px; }
.pro_select_outer text{ display: flex; align-items: center; background-size: contain !important; display: block; padding-right:30px; color:#666; font-size:14px; font-family: Open sans, sans-serif; position: relative;  background: url(../images/pro_uncheck.png) no-repeat 99% center;  }
.pro_select_outer text input[type="radio"]{ width:100%; height:100%; position: absolute; left:0; opacity: 0; }
.pro_gander_active { background: url(../images/pro_check.png) no-repeat 99% center !important; background-size: contain !important; }
.place_red::placeholder { color:#fc064c; }
.simple_searchable { display: flex; flex-direction: row; position: relative; color: #818181; }
.your_story_outer{ width:100%; }
.your_story_outer h3 { font-size:16px; color:#818181;font-family: Open sans, sans-serif; padding-bottom:44px; }
.your_story_outer p { font-size:14px; color:#818181; font-family: Open sans, sans-serif;  line-height:20px; margin-bottom:12px; }
.add_bio_text { padding-bottom:62px; display: flex; flex-direction: column; align-items: flex-end; }
.add_bio_text .ibold { cursor: pointer; font-size:14px; color:#818181; font-family: Open sans, sans-serif; padding:4px 10px; border: 1px solid #818181; border-bottom: 0; }
.add_bio_text textarea { width:100%; height:365px; font-size:16px; color:#818181;font-family: Open sans, sans-serif; border:1px solid #b6b4b4; padding:8px 16px; line-height: 27px; letter-spacing: 1px;}
.add_bio_text iframe { width:100%; height:365px; font-size:16px; color:#818181;font-family: Open sans, sans-serif; border:1px solid #b6b4b4; padding:20px; line-height: 27px; letter-spacing: 1px;}
.pro_social_btn_outer { width:100%; padding :25px 0px; }
.pro_social_btn_outer ul li { float:left; padding-right:150px; }
.pro_social_btn_outer ul li:last-child { padding-right:0px; }
.pro_social_btn_outer ul li a { width:57px; height:57px; display: block; opacity:1; -webkit-opacity:1; -o-opacity:1; -moz-opacity:1; -webkit-transition:0.7s all ease-in-out; -moz-transition:0.7s all ease-in-out; -o-transition:0.7s all ease-in-out; transition:0.7s all ease-in-out; }
.pro_social_btn_outer ul li a:hover { opacity:0.7; -webkit-opacity:0.7; -moz-opacity:0.7; -o-opacity:0.7; -webkit-transition:0.7s all ease-in-out; -moz-transition:0.7s all ease-in-out; -o-transition:0.7s all ease-in-out; transition:0.7s all ease-in-out; }
.pro_soc_icon_fb.connected { background:url(../images/pro_social_fb.png) no-repeat center center; }
.pro_soc_icon_youtube.connected { background:url(../images/pro_social_youtube.png) no-repeat center center; }
.pro_soc_icon_inst.connected { background:url(../images/pro_social_inst.png) no-repeat center center; }
.pro_soc_icon_tweet.connected { background:url(../images/pro_social_tweeter.png) no-repeat center center; }
.pro_soc_icon_cloud { background:url(../images/pro_social_sound_0.png) no-repeat center center; }
.pro_soc_icon_singnal.connected { background:url(../images/pro_social_singnles.png) no-repeat center center; }
.pro_soc_icon_fb.not-connected { background:url(../images/pro_social_face_1.png) no-repeat center center; }
.pro_soc_icon_youtube.not-connected { background:url(../images/pro_social_youtube_1.png) no-repeat center center; }
.pro_soc_icon_inst.not-connected { background:url(../images/pro_social_inst_1.png) no-repeat center center; }
.pro_soc_icon_tweet.not-connected { background:url(../images/pro_social_twit_1.png) no-repeat center center; }
.pro_soc_icon_singnal.not-connected { background:url(../images/pro_social_spot_1.png) no-repeat center center; }
.pro_my_music_sec { width:100%; }
.pro_music_info { width:100%; }
.pro_music_info label { position: relative; display: block; font-size:18px; color:#818181; font-family: Open sans, sans-serif; margin-bottom:40px; }
.music_sec_opt_outer { height: 35px; display: flex; align-items: center; width:100%; border:1px solid #ccc;  position:relative;  background:url(../images/pro_m_arrow_img.png?v=1.1) no-repeat 98.5% center; background-size: 15px; }
.music_sec_opt_outer span { padding:0px 36px; font-size:14px; color:#818181; font-family: Open sans, sans-serif; }
.music_sec_opt_outer select { width:100%; height:100%; border:0px none; position:absolute; right:0px; top:0px; color:#818181; font-family: Open sans, sans-serif; opacity:0; -webkit-opacity:0; -moz-opacity:0; -o-opacity:0; -ms-opacity:0;}
.music_sec_opt_outer select option { width:100%; border-bottom:1px solid #818181; font-size:13px; color:#818181; font-family: Open sans, sans-serif; padding:2px 38px;  }
.pro_m_chech_outer { width:100%; }
.pro_m_chech_outer ul li { width:100%; padding-bottom:30px; }
.pro_m_chech_outer span { padding-right: 40px; display:block; font-size:17px; color:#818181; font-family: Open sans, sans-serif; background: url(../images/pro_uncheck.jpg) no-repeat 99.9% center; background-size:18px; cursor:pointer; }
.pro_m_chech_outer .m_chech_active { background: url(../images/pro_check.jpg) no-repeat 99.9% center; background-size:18px; }
.pro_m_chech_outer span a { text-decoration: underline; display:inline-block; font-size:17px; color:#000; font-family: Open sans, sans-serif; }
.btn_list_outer::-webkit-scrollbar { width: 4px; }
.btn_list_outer::-webkit-scrollbar-track { box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }
.btn_list_outer::-webkit-scrollbar-thumb { background-color: darkgrey; outline: 1px solid slategrey; }
.music_btm_listing_outer_edit label.main_label { display:block; color:#666; font-family: Open sans, sans-serif; font-size: 18px; margin-bottom: 40px; border-bottom: 1px solid #666; }
.music_btm_list { width:100%; padding-bottom:20px; display: flex; flex-direction: column; border: 1px solid #ccc; padding: 10px; margin-bottom: 20px; position: relative; }
.music_btm_thumb { min-width: 102px; min-height: 102px; border: 1px solid #818181; display: flex; align-items: center; justify-content: center; }
.music_bottom_load_thumb { padding: 2px 5px; font-size: 12px; color: #818181; font-family: Open sans, sans-serif; cursor: pointer; }
.m_btm_list_left { display: flex; align-items: center; }
.m_btm_list_left span { float:left; }
.m_btm_list_left img { max-width: 100px; }
.music_btm_img_det  { display: flex; flex-direction: column; padding-left:22px; }
.music_btm_img_det li { line-height: 20px; }
.music_btm_img_det a { display: block; font-size:14px; color:#666;  font-family: Open sans, sans-serif; }
.music_btm_img_det p { font-size: 14px; color: #818181; font-family: Open sans, sans-serif; }
.m_btm_right_icons {  margin-left: auto; }
.m_btm_right_icons ul { display: flex; flex-direction: row; }
.m_btm_right_icons ul li { padding-right:40px; }
.m_btm_right_icons ul li:last-child { padding-right:0px; }
.m_btm_right_icons ul li a {display: block; }
.m_btm_right_icons .m_btn_right_icon_each.active { color: #000; }
.m_btm_right_icons .m_btn_right_icon_each:not(.active) { color: #ccc; }
.music_btm_listing_outer mark { background: none; font-size:30px; color:#818181; font-family: Open sans, sans-serif; }
.music_btm_listing_outer_edit mark { background: none; color:#818181; font-family: Open sans, sans-serif; }
.pro_gig_checkbx_select{ background: url(../images/pro_check.jpg) no-repeat 99.9% center ; background-size:18px; }
.pro_m_chech_outer.multi_btn { display: flex; align-items: center; flex-direction: row; }
.pro_m_chech_outer input[type="button"]{ font-size:22px; background:#fff; color:#000; text-align: center; font-family: Open sans, sans-serif;  padding: 2px 20px; border:1px solid #000; display: flex; margin-left: auto; }
.pro_m_chech_outer input[type="button"].edit_with_action { margin: 0; }
.pro_m_chech_outer.multi_btn input[type="button"] { font-size: 18px; }
.pro_btm_listing_outer { padding-top: 88px; }
.pro_btm_listing_outer label { display: block; color: #818181; font-family: Open sans, sans-serif; font-size: 18px; margin-bottom: 40px; border-bottom: 1px solid #818181; }
.m_btn_right_icon_each { cursor: pointer; }
.order_tp_sec { width:100%; }
.proj_pi_flt_top {width: 100%; display: flex; align-items: flex-end; flex-direction: row; }
.proj_pi_flt_left { width:116px; padding-right:10px; }
.proj_pi_flt_left p { font-size:16px; color:#808081; font-family: Open sans, sans-serif; }
.proj_pi_flt_left span { display:block; width:100px; }
.proj_pi_flt_left span img { display:block; width:100%; }
.proj_pi_flt_right { margin-left: auto; flex: 0 1 100%;border-bottom:1px solid #818181; }
.proj_pi_flt_right p { overflow: hidden; white-space: nowrap; float:none !important; font-size:15px; color:#808081; font-family: Open sans, sans-serif; padding-bottom:4px;}
.proj_pi_flt_right input[type="text"] { width:100%; padding:0px 2px; font-size:12px;  color:#808081; font-family: Open sans, sans-serif; float:left; letter-spacing:1px;  }
.pi_inp_lft { width:90% !important; line-height:28px; }
.proj_pi_flt_right .pt_url_inp { color:#27282A !important; }
.proj_pi_flt_right input[type="submit"]{ width:74px; line-height:28px; font-size:16px;  color:#fff;  font-family: Open sans, sans-serif; background:#818181; float:right; cursor:pointer; transition:0.5s all ease-in-out; -webkit-transition:0.5s all ease-in-out; -moz-transition:0.5s all ease-in-out; -o-transition:0.5s all ease-in-out;}
.proj_insp_wid { width:33%; border:1px solid #818181; display: block; margin-top: 10px; }
.proj_insp_wid input { width:100%; font-size:14px; color:#818181; font-family: Open sans, sans-serif; padding:4px 12px; letter-spacing: 1px;  }
.proj_insp_wid textarea { width:100%; height:100px; font-size:14px; color:#fc064c; font-family: Open sans, sans-serif; padding:0px 12px; letter-spacing: 1px;  }
.proj_insp_wid.input_with_currency_drop { border: 0; }
.proj_insp_wid select, .proj_bonus_curr_crop_outer select{ height: unset !important; width: 28% !important; float: left !important;}
.proj_insp_wid input.tot_usd_val,.proj_bonus_curr_crop_outer input.tot_usd_val { width: 72% !important; border: 1px solid #808081; background: unset !important; float: right !important; }
.proj_acco_sub:not(.subscribers_accodion) { width:100%; padding-bottom:100px; }
.proj_acco_sub.subscribers_accodion { width:100%; padding-bottom:30px; }
.proj_subscriber_sec { width:100%; }
.proj_subscriber_sec p { font-size:14px;color:#808081; font-family: Open sans, sans-serif;  padding-bottom:20px; }
.prog_sub_inps_sec,.prog_sub_inps_sec ul { width:100%; }
.prog_sub_inps_sec ul li { width:100%; padding-bottom:34px; }
.pay_btm_btn_outer { width:100%; }
.pay_btm_btn_outer ul { width:100%; }
.pay_btm_btn_outer ul li { float:left; }
.pay_btm_btn_outer ul li:last-child { float:right; }
.pay_btm_btn_outer ul li a { display: block; font-size:16px; font-family: Open sans, sans-serif; color:#27282A; width:164px; line-height: 34px; border:1px solid #27282A; text-align:center; }
.pay_btm_btn_outer ul li:last-child a { width:180px; background:#13a89e; border:1px solid #9eafc4; color:#fff; }
.pay_btm_btn_outer ul li a:hover  { color:#fff; background:#27282A; }
.profile_custom_dropdown{ display: none; }
.profile_custom_dropdown_inner,.pro_instruments_list_drop,.pro_moods_list_drop,.pro_services_list_drop { width: 100%; max-height: 150px; overflow-y: auto; }
.pro_custom_drop_res ul li { cursor: pointer; display: flex; flex-direction: column; padding: 5px 13px; border-bottom: 1px solid #bfbfbf; }
.pro_custom_drop_res ul li:hover { background: #e6e6e6; }
.profile_custom_dropdown ul { padding: 0 20px; }
.profile_custom_dropdown { border-bottom: 1px solid #a6a8ab; border-right: 1px solid #a6a8ab; border-left: 1px solid #a6a8ab; }
.profile_custom_dropdown ul li{ color: #818181;  font-family: Open sans, sans-serif;  font-size: 15px;  letter-spacing: 1px; cursor: pointer; padding: 2px 0; }
.simple_custom_dropdown { height: auto !important; border: 0; width: 88%; }
.simple_custom_dropdown span { color: #666;  font-family: Open sans, sans-serif;  font-size: 14px;  letter-spacing: 1px;  line-height: unset;  padding: 0 20px; }
.error_field { border-color: #fc064c !important; }
.error_field label { color: #fc064c !important; border-color: #fc064c !important; }
.error_field input[type="submit"] { color: #fc064c !important; }
.error_field_02{ border-color:red; }
.error_field_02 p { color: red; }
.m_check_error { background: rgba(0, 0, 0, 0) url("../images/pro_check_error.png") no-repeat scroll right center / 36px 36px !important; }
.pro_left_sec_outer .add_stripe_notic { color: #fc064c; font-size: 11px; margin-top: 10px; }
#profile_tab_01 input[name=password] { cursor: pointer; }
.element_sample { display: none; }
.display-stream-thumb,.display-album-thumb { cursor: pointer; }
.has-danger .required { color: rgb(207, 92, 96); }
.has-danger .music_sec_opt_outer { border-color: rgb(207, 92, 96); }
.has-danger .music_instruments_saved { border-color: rgb(207, 92, 96); }
.has-danger span { color: rgb(207, 92, 96); }
.has-danger .pro_input_icon { border-color: rgb(207, 92, 96); }
.top_adjust { position: absolute; top: -21px; right: 35px; font-size: 31px; line-height: 20px; color: #fff; }
#sample-audio-spectrum { z-index: 0; position: fixed; bottom:0; left: 0; width: 650px; opacity: 0; max-width: 1000px; }

.pro_change_pass_outer .success { color: green; text-align: center; }
.pro_project_pitch_uploaded { border: 1px solid #818181; box-shadow: unset; }
.pro_project_pitch_uploaded .pro_project_pitch_uploaded_inner { padding: 20px 65px 30px 50px; margin: 0 auto; }
.pro_project_pitch_uploaded .pro_soc_top_close { margin-top: 2px; }
.pro_project_pitch_uploaded #submit_button { font-family: arial; font-size: 17px; }
.pro_project_pitch_uploaded h3 { font-size: 14px; }
.proj_bonus_curr_crop_outer select { font-size: 18.4px !important; background-size: 12px 50% !important; }
.proj_bonus_curr_crop_outer input.tot_usd_val { border: 1px solid #9daec3 !important; font-size: 15px; color: #808081; text-align: left; }
.pro_products_max_limit { border: 1px solid #818181; box-shadow: unset; }
.pro_products_max_limit .pro_soc_top_close { height: 14px; margin-top: 2px; }
.pro_products_max_limit .pro_products_max_limit_img img { margin: 0 auto; }
.pro_products_max_limit h3 { color: #808080; }
.pro_orders_tab_contact_details { padding-top: 10px; border: 1px solid #818181; box-shadow: unset; color: #2D2D2D; }
.pro_orders_tab_contact_details .pro_soc_top_close { height: 18px; margin-top: 1px; }
.pro_orders_tab_contact_details_inner { padding: 30px 30px 20px 30px; }
.pro_orders_tab_contact_details_inner h4 { font-size: 15px; }
.pro_orders_tab_contact_details #submit_button { font-family: Open sans, sans-serif; font-size: 15px; }
.pro_send_email_outer { padding: 10px 0 20px 0; border: 1px solid #818181; box-shadow: unset; }
.pro_send_email_outer .pro_soc_top_close { margin-right: 10px; margin-top: 3px; }
.pro_send_email_outer h3 { text-align: unset; font-size: 15px; color: #64758A ;  }
.pro_send_email_outer .soc_discon_text { text-align: center; padding: 0 0 10px 0; }
.pro_send_email_outer .soc_share_images { position: relative; }
.pro_send_email_outer .soc_share_images .dance_icon_right { position: absolute; right: 0; top: 0; width: 90px; }
.pro_send_email_outer .social_supp_btns ul li a { line-height: 15px; color: #444; font-size: 15px; font-weight: bold; }
.pro_send_email_outer a.ch_sup_fb { background-size: 6px; }
.pro_send_email_outer a.ch_sup_tw { background-size: 17px; }
.pro_send_email_outer .social_supp_btns ul li { border-right: 1px solid #fff; }
.pro_send_email_outer .soc_share_buttons { padding-top: 10px; }
.pro_send_email_outer #thank_via_email_btn { font-size: 9px !important; color: #818181 !important;  }
.pro_send_email_outer .email_box textarea { width: 95% !important; margin: 0 2.5% !important; border: 1px solid #818181; height: 170px; }
.pro_send_email_outer .pro_submit_button_outer { background: #818181 none repeat scroll 0 0 !important; margin: 25px 2.5%; width: 95%; }
#cont_popup_email { word-wrap: break-word; }
.pro_add_edit_bonus_outer .pop_up_bonus_thumb{ width: 50%; }
.pro_add_bonus_row_outer { max-height: 340px; overflow-y: auto; }
.pro_add_edit_bonus_outer h3 { color: #808081; font-family: Open sans, sans-serif; font-size: 15px; }
.pro_add_edit_bonus_outer .pop_up_bonus_thumb { width: 180px; cursor: pointer; }
.pro_add_edit_bonus_outer label { color: #666; font-family: Open sans, sans-serif; font-size: 14px; line-height: 24px; }
.pro_add_edit_bonus_outer input, .pro_add_edit_bonus_outer textarea { color: #818181; font-family: Open sans, sans-serif; font-size: 14px; }
.pro_create_new_project { font-family: Open sans, sans-serif; font-weight: 600; color: #818181; border: 1px solid #818181; box-shadow: unset; }
.pro_create_new_project .pro_create_new_project_inner { padding: 20px 0 0 0; margin: 0 auto; }
.pro_create_new_project .pro_soc_top_close { height: 14px; margin-top: 1px; }
.pro_create_new_project h3 { font-size: 16px; font-weight: 600; }
.pro_create_new_project p { font-size: 14px; }
.pro_create_new_project .pro_submit_button_outer { background-color: #818181; color: #fff; }
.pro_create_new_project #submit_button { font-size: 16px; font-weight: 600; }
.chart_share_proj_soc_med { font-family: Open sans, sans-serif; border: 1px solid #afc0d5; box-shadow: unset; }
.chart_share_proj_soc_med .pro_soc_top_close { margin-top: 2px; }
.chart_share_proj_soc_med h3 { font-size: 16px; margin-top: 15px; margin-bottom: 10px; font-weight: 600; }
.chart_share_proj_soc_med h4 { padding: 0 16px; text-align: center; font-size: 13px; font-weight: 600; }
.chart_share_proj_soc_med .share_to_social_media { margin: 0 auto; cursor: pointer; }
.primary_headline { font-size: 20px; font-family: Open sans, sans-serif; margin-top: 30px; }
.pro_pop_ind_con_each { display: flex; align-items: flex-start; border: 1px solid #d0d4d9; padding: 10px; border-bottom: 3px solid #d0d4d9; }
.pro_pop_each_ind_con_item.item_type { margin-right: 10px; }
.pro_pop_ind_con_each .item_name a { color: #3d464d; }
.ind_con_each_action.favourites.added { color: #ffc107; }
#subscription_offers_popup .subscription_offers_in { text-align: center; }
#subscription_offers_popup .profile_img { margin: 0 auto 10px auto; border-radius: 3px; width: 150px; }
#subscription_offers_popup .profile_heading { font-size: 18px; margin-bottom: 20px; }
#subscription_offers_popup .bullet_each { background: #f1f1f1; padding: 20px; margin: 5px 0; }
.pro_add_bonus_row_outer::-webkit-scrollbar { width: 4px; }
.pro_add_bonus_row_outer::-webkit-scrollbar-track { box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }
.pro_add_bonus_row_outer::-webkit-scrollbar-thumb { background-color: darkgrey; outline: 1px solid slategrey; }
#pro_uploading_in_progress .each_progress { margin-bottom: 10px; }
#pro_uploading_in_progress .each_progress i { float: left; margin-top: 4px; font-size: 17px; margin-right: 5px; }
#pro_uploading_in_progress .each_progress .progress_head { font-size: 19px; font-family: Open sans, sans-serif; font-weight: bold; }
#pro_uploading_in_progress .each_progress:not(.done) i, #pro_uploading_in_progress .each_progress:not(.done) .progress_head { color: #444; }
#pro_uploading_in_progress .each_progress.done i, #pro_uploading_in_progress .each_progress.done .progress_head { color: green; }
#pro_uploading_in_progress .each_progress.error i, #pro_uploading_in_progress .each_progress.error .progress_head { color: #fc064c; }
.pro_music_career_starts { box-shadow: unset; }
.pro_music_career_starts h3{ color: #818181; }
.pro_music_career_starts .pro_soc_top_close { height: 14px; margin-top: 2px; }
.pro_music_career_starts .pro_video_upload_img { margin: 0 auto; }
.pro_music_career_starts .each_video_upload_img { display: inline-block; margin: 0 5px; cursor: pointer; }
.pro_music_career_starts .pro_video_upload_txt_2 { color: #818181 !important; font-size: 14px; font-family: Open sans, sans-serif; }

.donator_profile_version { max-width: 500px; width: 100%; }
.add_donator_notice { font-size: 16px; font-family: Open sans, sans-serif; color: #818181; }
.add_donator_notice p { font-size: 10px; color: #818181; margin-left: 17px; margin-top: 5px; }
.pro_input_icon { position: relative; display: flex; align-items: center; }
.pro_input_icon i { font-size: 15px; color: #818181; margin-right: 13px; }
.social_btns_outer { width:100%; padding-bottom:16px; }
.social_btns_outer li { width:100%; padding-bottom:10px; }
.social_btns_outer li a { display: flex; align-items: center; width: fit-content; justify-content: center; background-size:100% 100% !important; display: block; margin:auto; opacity:1; -webkit-opacity:1; -moz-opacity:1; -o-opacity:1; border:2px solid #fff transparent;   }
.social_btns_outer .hm_fb_icon_share { background:url(../images/share_to_fb.png) no-repeat center center; }
.social_btns_outer .hm_tw_icon_share { background:url(../images/share_to_twitter.png) no-repeat center center; }
.social_btns_outer .hm_gm_icon_share { background:url(../images/share_to_google.png) no-repeat center center; }
.social_btns_outer .hm_login_icon_share { background:url(../images/share_to_social.png) no-repeat center center; }
.social_btns_outer li a:hover { opacity:0.6; -webkit-opacity:0.6; -moz-opacity:0.6; -o-opacity:0.6; border:2px solid #fff; }
.orders_bottom_arrow { width: 17px; height: 13px; float: right; margin-right: 14px; cursor: pointer; }

.my_sub_sec { width:100%; margin-bottom: 30px; }
.my_sub_sec_inner { width:100%; }
.my_sub_sec_inner h3 { font-size:16px; color:#818180; font-family: Open sans, sans-serif; padding-bottom:14px; }
.my_sub_sec_list{ width:100%; padding: 0px 14px 14px 0px; margin-bottom:54px; border-bottom:1px solid #808081; }
.my_sub_sec_list label { width:185px; display:block; font-size:16px; color:#808081;  float:right; font-family: Open sans, sans-serif; border:1px solid #808081; }
.my_sub_sec_list label:not(.no_back) { background:url(../images/sms_img.png) no-repeat 10px center; }
.my_sub_sec_list label input {  line-height: 26px; font-size:16px; color:#808081;  cursor:pointer;   }
.my_sub_sec_list label:not(.no_back) input { padding-left:40px; }
.my_sub_sec_list .cancel_subscription { margin-right: 15px; }
.my_sub_sec_list { font-size: 16px; font-family: Open sans, sans-serif; }
.my_sub_sec_list .sub_sec_img_contain { min-width: 140px; max-width: 140px; }
.my_sub_sec_list .sub_sec_name_desc_contain { margin-left: 20px; }
.my_sub_sec_list .sub_sec_desc { margin-top: 18px; color:#808081; margin-bottom: 40px; }
.my_sub_sec_list .sub_sec_det{ line-height: 35px; }
.my_sub_sec_list .sub_sec_date_contain { position: absolute; right: 0; white-space: nowrap; font-weight: 600; font-size: 13px; }
.my_sub_sec_list .sub_sec_btns_contain { margin-left: 20px; }
.my_sub_sec_list .contact_btn { border: 1px solid #808081; color: #808081; display: block; padding: 2px 10px; float: left; cursor: pointer; }
.my_sub_sec_list .lower_sec{ clear: both; }
.my_sub_sec_list .upper_sec{ display: flex; position: relative; margin-bottom: 40px; }
.no_back { text-align: center; }
.profile_orders_slide_win { display: none; margin-top: 20px; overflow-x: hidden; }
.section_note { color: #818181; font-size: 14px; font-family: Open sans, sans-serif; margin: 20px 0; }
#musical_section hr { margin-top: 30px; }

.pro_note { margin-bottom: 30px; padding-left: 15px; }
.pro_note h4 { font-size: 20px; margin-top: 10px; font-family: Open sans, sans-serif; color: #27282A; }
.pro_note p { margin-top: 10px; font-family: Open sans, sans-serif; color: #27282A; }
.pro_note ul { font-family: Open sans, sans-serif; font-size: 14px; color: #818181; line-height: 25px; }
.pro_note ul li { list-style: disc; color: #666; line-height: 37px; }
.pro_note ul li a { color: #000; }
.pro_note ul li a:hover { text-decoration: underline; }

.pro_def_h_t_btn_outer { margin-top: 20px; display: flex; flex-direction: column; }
.pro_connect_outer .pro_connect_head { color: #818181; font-family: Open sans, sans-serif; font-size: 18px; margin-bottom: 40px; border-bottom: 1px solid #818181; }

.pro_stripeless_outer { margin-bottom: 20px; }
.pro_stripeless_head { font-size: 15px; }
.pro_stripeless_foot { margin-top: 20px; display: flex; flex-direction: row; }
.pro_stripeless_inner { border-radius: 3px; font-family: Open sans, sans-serif; background-color: #ccc; color: #000; padding: 15px; display: flex; flex-direction: column; border: 1px solid #000; }
.get_access_btn { margin-right: 5px; text-align: center; display: block; background-color: #000; color: #fff; font-family: Open sans, sans-serif; font-size: 13px; border-radius: 3px; max-width: 200px; padding: 6px 10px; }

.music_btm_list.elem_sortable { margin-bottom: 40px; }
.edit_elem_top { display: flex; flex-direction: row; align-items: center; width: 100%; }
.edit_elem_bottom form { margin-top: 20px; }
.edit_elem_close { cursor: pointer; }
.edit_elem_sort { position: absolute; font-size: 14px; color: #000; top: -20px; right: 0; display: flex; flex-direction: row; align-items: center; }
.edit_elem_sort_up { margin-right: 10px; cursor: pointer; }
.edit_elem_sort_down { cursor: pointer; }
.edit_elem_sort_up.disabled,.edit_elem_sort_down.disabled { opacity: 0.65; cursor: initial; }

.pro_news_textarea { color: #818181; height: 100px; width: 100%; padding: 5px; font-size: 15px; font-family: Open sans, sans-serif; }
.pro_contact_textarea { color: #818181; height: 300px; width: 100%; padding: 5px; font-size: 15px; font-family: Open sans, sans-serif; }

.pro_price_timer { display: flex; flex-direction: column; margin-bottom: 15px; border: 1px solid #ccc; padding: 10px; }
.pro_action_btn { padding: 5px 10px; background: #818181; margin-left: auto; color: #fff; cursor: pointer; }
.pro_price_timer_body { margin-top: 20px; }
.product_timer_start_date_time,.product_timer_end_date_time { cursor: pointer; }

.pro_stream_input_each { margin-bottom: 15px; border: 1px solid #ccc; position: relative; }
.pro_stream_input_each.has-danger { border-color: rgb(207, 92, 96); }
.stream_sec_opt_outer select { width: 100%; height: 35px; padding: 5px; font-size: 14px; color: #818181; font-family: Open sans, sans-serif; }
.pro_stream_input { width: 100%; height: 35px; padding: 5px; font-size: 14px; font-weight: normal; color: #818181; font-family: Open sans, sans-serif; }
.pro_stream_input_row { display: flex; flex-direction: row; align-items: center; justify-content: space-between; }
.pro_stream_input_row .pro_stream_input_row,.pro_stream_input_row .pro_stream_input_each { width: 49%; }

.add_port_wid_outer { display: flex; flex-direction: row; position: relative; font-family: Open sans, sans-serif; }
.port_wid_head { font-size: 14px; margin-left: auto; color: #fff; cursor: pointer; text-transform: uppercase; padding: 5px 10px; background: #666; }
.port_wid_drop_outer { border: 1px solid rgb(129, 129, 129); box-shadow: 0px 0px 15px 1px rgba(69,65,78,0); -webkit-box-shadow: 0px 0px 15px 1px rgba(69,65,78,0.2); display: none; position: absolute; top: 31px; right: 0; padding-top: 10px; text-align: left; z-index: 101; width: 245px; border-radius: 4px; transform: translateZ(0); backface-visibility: hidden; -webkit-animation: m-dropdown-fade-in .3s ease 1, m-dropdown-move-up .3s ease-out 1; animation: m-dropdown-fade-in .3s ease 1, m-dropdown-move-up .3s ease-out 1; background: #fff; }
.port_wid_drop_inner { padding: 10px; }
.port_wid_drop_inner .head { display: flex; flex-direction: row; justify-content: space-between; margin-bottom: 25px; text-transform: uppercase; font-size: 10px; font-weight: bold; color: #666; }
.port_wid_drop_inner .head i { cursor: pointer; }
.port_wid_drop_each { font-size: 13px; color: #818181; margin-bottom: 20px; cursor: pointer; }
.port_wid_drop_each:hover { color: #000; }
.port_wid_drop_each i { margin-right: 10px; color: #818181; }
.port_each_field { font-family: Open sans, sans-serif; margin-top: 20px; }
.port_each_field .port_field_label { display: flex; flex-direction: row; margin-bottom: 10px; color: #444; justify-content: space-between; align-items: center; }
.port_each_field .port_field_label_text { margin-right: 10px; font-size: 16px; }
.port_each_field .port_field_body .port_field_text { width: 100%; border: 1px solid #ccc; padding: 5px; color: #444; height: 35px; }
.port_each_field .port_textarea { width: 100%; color: #444; border: 1px solid #ccc; height: 100px; font-size: 14px; padding: 10px; font-family: Open sans, sans-serif; }
.port_each_field .custom_file_thumb { max-width: 200px; cursor: pointer; }
.port_each_field .port_file_input,.edit_port_form { display: none; }
.port_each_field .port_field_remove { cursor: pointer; }
.save_portfolio_outer { margin-top: 50px; }
.port_each_field .has-danger { border: 1px solid rgb(207, 92, 96) !important; }

.pro_pg_tb_sub_outer::-webkit-scrollbar { -webkit-appearance: none; }
.pro_pg_tb_sub_outer::-webkit-scrollbar:vertical { width: 0px; }
.pro_pg_tb_sub_outer::-webkit-scrollbar:horizontal { height: 7px; }
.pro_pg_tb_sub_outer::-webkit-scrollbar-thumb { background-color: #28a745; border-radius: 10px; border: 2px solid #ffffff; }
.pro_pg_tb_sub_outer::-webkit-scrollbar-track { border-radius: 10px; background-color: #ffffff; }
.pro_pg_tb_sub_outer { display: flex; margin-bottom: 20px; margin-top: 22px; }
.pro_pg_tb_sub_outer .tb_sub_each { flex-grow: 1; padding: 12px 5px; display: flex; align-items: center; margin-right: 2px; transition:0.3s all ease-in-out; justify-content: center; font-family: Open sans, sans-serif; font-size: 16px; cursor: pointer; background-color: #ccc; color: #555; }
.pro_pg_tb_sub_outer .tb_sub_each.active { color: #000; background-color: #efefef; }
.pro_pg_tb_sub_outer .tb_sub_each.pending:last-of-type { margin-right: 0; }
.pro_pg_tb_sub_outer .tb_sub_each i { opacity: 0; margin-left: 5px; }
.pro_pg_tb_sub_outer .tb_sub_each.complete i { opacity: 1; }
.pro_pg_tb_sub_outer .tb_sub_each.disabled { background: #f8f9fa; border: 1px solid #ccc; color: #999; }

.check_each_outer { height: 13px; width: 13px; display: inline-block; border: 1px solid #818181; display: flex; align-items: center; justify-content: center; }
.check_each_inner { height: 7px; width: 7px; background-color: #fff; display: inline-block; border: 1px solid #fff; }
.upload_new_banner, .display_current { position: relative;font-family: Open sans, sans-serif; margin: 0 auto; width: 50%; background-color: #444; color: #fff; border-radius: 6px; border: 0px solid #aaa; text-align: center; cursor: pointer; font-size: 19px; height: 150px; overflow: hidden; }
.pro_seo_head { font-family: Open sans, sans-serif; padding-top: 30px; }
.seo_field_label { display: flex; flex-direction: row; margin-bottom: 10px; color: #444; justify-content: space-between; align-items: center; font-size: 15px; }
.seo_each_field { margin-bottom: 15px; }
.seo_field_textarea { font-family: Open sans, sans-serif; margin-bottom: 15px; width: 100%; border: 1px solid #ccc; padding: 5px; color: #444; height: 150px; }
.seo_field_text { margin-bottom: 15px; width: 100%; border: 1px solid #ccc; padding: 5px; color: #444; height: 35px; }
.pro_edit_profile_image { display: flex; align-items: center; flex-direction: column; margin-top: 20px; width: 200px; }
.pro_edit_profile_image img { max-width: 150px; margin-bottom: 20px; border: 1px solid; }
.pro_edit_profile_image a { background: #818181;color: #fff; padding: 5px; border-radius: 14px; width: 200px; text-align: center; font-size: 14px; font-family: Open sans, sans-serif; }
.pro_edit_sub_head { margin-top: 40px; font-family: Open sans, sans-serif; color: #818181; font-size: 14px; font-weight: bold; }
.pro_edit_text { line-height: 20px; margin-top: 10px; font-family: Open sans, sans-serif; color: #818181; font-size: 14px; font-weight: normal; }
.pro_h_l_outer, .pro_h_logo_outer { margin-top: 20px; display: flex; flex-direction: column; }
.pro_h_l_head, .pro_h_logo_head, .pro_h_dt_head { width: 100%; font-family: Open sans, sans-serif; display: flex; flex-direction: column; flex-wrap: wrap; }
.pro_h_dt_head { flex-direction: row; }
.pro_h_l_btn_each, .pro_h_logo_btn_each, .pro_h_dt_btn_each { display: flex; padding: 10px 20px; flex: 0 1 33%; box-shadow: 0 0 13px #ccc; margin-bottom: 35px; }
.pro_h_l_btn_top, .pro_h_l_btn_bottom, .pro_h_logo_btn_top, .pro_h_logo_btn_bottom, .pro_h_tab_btn_bottom, .pro_h_dt_btn_top, .pro_h_dt_btn_bottom { display: flex; align-items: center; }
.pro_h_l_btn_top, .pro_h_logo_btn_top, .pro_h_dt_btn_each:not(.disabled) .pro_h_dt_btn_top { display: flex; align-items: center; flex: 0 1 70%; cursor: pointer; }
.pro_h_dt_btn_each.disabled .pro_h_dt_btn_top { opacity: 0.5; }
.pro_h_l_btn_bottom, .pro_h_logo_btn_bottom, .pro_h_dt_btn_bottom, .pro_h_tab_btn_bottom { margin-left: auto; justify-content: center; }
.check_each_action_btn:last-child { border-left: 1px solid #000; }
.pro_h_l_btn_each.active .pro_h_l_btn_bottom .check_each_action_btn:last-child, .pro_h_logo_btn_each.active .pro_h_logo_btn_bottom .check_each_action_btn:last-child { border-color: #fff; }
.check_each_action_btn { color: #000; padding: 5px 20px; cursor: pointer; font-size: 14px; }
.check_each_name { font-size: 14px; margin-left: 5px; }
.pro_h_l_content, .pro_h_logo_content,.each_h_dt_content { position: relative; padding: 10px; border: 1px solid #000; margin-top: -1px; min-height: 100px; }
.pro_content_closer { position: absolute; top: -20px; right: 0; font-size: 15px; cursor: pointer; }
.banner_editor_outer { display: flex; align-items: center; }
.banner_right, .banner_left { flex: 0 1 50%; margin-top: 30px; }
.banner_sub_head { text-align: center; font-size: 15px; margin-bottom: 10px; font-family: Open sans, sans-serif; }
.banner_inner { margin: 0 15%; position: absolute; top: 50%; transform: translateY(-50%); }
.text_nop { font-size: 16px; }
.banner_inner.busy { opacity: 0.5; }

.pro_h_l_btn_each.active .check_each_outer, .pro_h_logo_btn_each.active .check_each_outer, .pro_h_dt_btn_each.active .check_each_outer { border-color: #fff; }
.pro_h_l_btn_each.active, .pro_h_logo_btn_each.active, .pro_h_dt_btn_each.active { background-color: #28a745; }
.pro_h_l_btn_each.active .check_each_action_btn,.pro_h_logo_btn_each.active .check_each_action_btn,.pro_h_dt_btn_each.active .check_each_action_btn { color: #fff; }
.pro_h_l_btn_each.active .check_each_name, .pro_h_logo_btn_each.active .check_each_name, .pro_h_dt_btn_each.active .check_each_name { color: #fff; }

.pro_h_l_btn_each_outer { border: 1px solid #ccc; margin-bottom: 30px; display: flex; flex-direction: column; }
.pro_h_l_btn_each { margin: 0 !important; }
.each_h_l_content { padding-bottom: 25px; position: relative; }
.pro_content_closer { top: 8px; right: 8px; }
.check_each_outer { padding: 8px;  }
.pro_h_l_btn_each.active .check_each_outer,.pro_h_logo_btn_each.active .check_each_outer,.pro_h_dt_btn_each.active .check_each_outer { color: #fff; }

#default_home_tab_section .each_active { color: #666; }

#domain_section { font-family: Open sans, sans-serif; color: #888; }
#domain_section #domain_url { padding: 0 5px; margin: 20px 0; width: 100%; line-height: 40px; font-size: 16px; color: #444; border: 1px solid #444; font-weight: bold; font-family: Open sans, sans-serif; }
#domain_section .register_domains { margin: 20px; }
#domain_section .register_domains li a { color: #fc064c; text-decoration: none; }
#domain_section .register_domains li { list-style-type: disc; color: #fc064c; padding: 2px 0; }
#domain_section .each_pay { padding: 0 5px; margin: 5px 0; width: 100%; line-height: 40px; font-size: 16px; color: #444; border: 1px solid #444; font-weight: bold; font-family: Open sans, sans-serif; }
#domain_section .each_side_left { float: left; width: 49%; }
#domain_section .each_side_right { float: right; width: 49%; }
#domain_section .each_payment_side { margin: 20px 0; }
#domain_section .each_pay_label { height: 20px; }
#domain_section .curr_stat_outer { margin: 10px 0; }
#domain_section .curr_stat_outer .each_curr_stat { float: left; width: 50%; border: 1px solid #808080; padding: 10px; }
#domain_section .curr_stat_outer .stat_head, .curr_stat_outer .stat_content { font-size: 15px; position: relative; display: inline-block; }
#domain_section .curr_stat_outer .stat_head { font-size: 15px; font-weight: bold; }
#domain_section #unsub_dom { width: max-content; padding: 5px 10px; }
#domain_section .each_submit { border: 0px solid; border-radius: 5px; padding: 2px 20px; background-color: #fc064c; color: #fff; font-size: 14px; right: 10px; cursor: pointer; }
#domain_section .each_order_tab { position: relative; margin-top: 50px;}
#domain_section .subscription_content { width: 50%; }
#domain_section .each_tab_content { margin: 20px 0; }
#domain_section p { line-height: 22px; font-size: 14px; }

#favourites_section .each_tab_content { margin-bottom: 30px; }

.pro_h_tab_btn_bottom { cursor: pointer; }
.pro_h_dt_content { display: flex; flex-direction: column; }
.pro_content_close { margin-left: auto; margin: 5px 0; cursor: pointer; font-size: 15px; color: #000; }
.pro_tab_feature.active,.pro_tab_hide_show.active { color: #000; }
.pro_tab_feature:not(.active),.pro_tab_hide_show:not(.active) { color: #ccc; }
.pro_tab_feature,.pro_tab_hide_show { margin: 0 3px; }

.multi_level_drop_outer { max-height: 350px; overflow-y: auto; margin-top: 10px; display: none; }
.multi_level_drop_outer .multi_level_each { padding: 10px; }
.multi_level_drop_outer .multi_level_member_up { display: flex; flex-direction: row; justify-content: space-between; cursor: pointer; padding: 8px 0; color: #818181; border-bottom: 1px solid #ccc; }
.multi_level_drop_outer .multi_level_member_down { max-height: 200px; overflow-y: auto; display: none; }
.multi_level_drop_outer .multi_level_member_up.end { border: 0; padding: 5px; font-size: 13px; }
.multi_level_drop_outer .multi_level_member_up.end.active { background: #818181; color: #fff; }
.multi_level_drop_outer .multi_level_member_title { display: flex; flex-direction: row; align-items: center; }
.multi_level_drop_outer .multi_level_member_title i { font-size: 6px; margin-right: 5px; }
.pro_service { cursor: pointer; display: flex; flex-direction: row; align-items: center; justify-content:space-between; padding: 10px; color: #818181; }
.pro_service i { font-size: 10px; }
.multi_level_drop_outer .multi_level_member_ic { font-size: 10px; }
.multi_level_drop_outer .multi_level_member_down::-webkit-scrollbar { width: 4px; }
.multi_level_drop_outer .multi_level_member_down::-webkit-scrollbar-track { box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }
.multi_level_drop_outer .multi_level_member_down::-webkit-scrollbar-thumb { background-color: #818181; outline: 1px solid slategrey; }
.multi_level_drop_outer::-webkit-scrollbar { width: 4px; }
.multi_level_drop_outer::-webkit-scrollbar-track { box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }
.multi_level_drop_outer::-webkit-scrollbar-thumb { background-color: #818181; outline: 1px solid slategrey; }

.pro_favicon_outer { display: flex; flex-direction: row; align-items: center; }
.pro_favicon_outer img { width: 25px; margin-right: 10px; }
.pro_favicon_ico { display: none; }
.pro_favicon_outer .choose_icon { cursor: pointer; color: #818181; font-family: Open sans, sans-serif; }

.each_tab_content .summary .thismusic_user_name { color: #818181; }
.each_tab_content .tab_chanel_img_det { padding-top: 5px; }

.story_images_outer { display: flex; flex-direction: column; justify-content: space-between; }
.story_images_outer .story_image_each:not(:last-of-type) { margin-bottom: 15px; }
.story_image_remove { color: #fff; font-size: 15px; background: #dc3545; width: fit-content; padding: 0px 5px; cursor: pointer; }

.each_fav_stream { margin: 30px 0; cursor: pointer; }
.each_fav_stream .each_stream_inner { position: relative; }
.each_fav_stream .each_stream_left { position: relative; display: flex; flex-direction: row; }
.each_fav_stream .stream_thumb { max-width: 105px !important; }
.each_fav_stream .stream_thumb img { border-radius: 3px; }
.each_fav_stream .stream_title { color: #818181 !important; }
.each_fav_stream .stream_det { margin-left: 20px; }
.each_fav_stream .stream_det .stream_title { font-size: 16px; }
.each_fav_stream .stream_det .stream_title,.each_fav_stream .stream_det .stream_time { line-height: 1.8rem; }
.each_fav_stream .stream_channel { color: #999; margin-top: 5px !important; font-size: 14px !important; }
.each_fav_stream .stream_action:not(.active) { -webkit-text-stroke-color: #818181; -moz-text-stroke-color: #818181; }
.each_fav_stream .each_stream_actions { display: flex; flex-direction: row; margin-left: auto; }
.each_fav_stream .stream_action { height: fit-content; margin: 5px 10px; background: none !important; font-size: 22px; cursor: pointer; }
.each_fav_stream .stream_action.active { color: #ff0066; }

.tot_usd_shiping input[type=text] { color: #818181; }

.pro_tb_quick_setup:not(.pro_tb_active) { display: none; }
.pro_tb_quick_setup.pro_tb_active { display: flex; }
.bubble { cursor: pointer; right: 0; z-index: 2; position: absolute; font-family: sans-serif; font-size: 15px; line-height: 24px; width: 300px; background: #dc3545; border-radius: 40px; padding: 17px; text-align: center; color: #fff; top: 130%; }
.bubble_marker:before { content: ""; width: 0px; height: 0px; position: absolute; border-right: 24px solid #dc3545; border-left: 12px solid transparent; border-bottom: 12px solid #dc3545; border-top: 20px solid transparent; right: 32px; top: -24px; }
.quick_setup_skip { line-height: 17px; background: #007bff; color: #fff; padding: 5px 10px; position: absolute; right: 0; cursor: pointer; font-size: 15px; }
.quick_setup_skip.adjusted { top: -10px; }
.quick_setup_skip:not(.adjusted) { top: 0px; }
.pro_tb_each.complete i { color: #28a745; }
.pro_tb_each.complete .bubble { background: #28a745; }
.pro_tb_each.complete .bubble_marker:before { border-right: 24px solid #28a745; border-bottom: 12px solid #28a745; }

.pro_main_tray { display: flex; flex-direction: row; background: #666; color: #fff; margin-bottom: 20px; }
.pro_tray_title { font-size: 18px; padding: 10px 5px; }
.pro_tray_tabs { margin-left: auto; display: flex; align-items: stretch; justify-content: center; }
.pro_tray_tab_each { font-size: 18px; cursor: pointer; flex-grow: 1; display: flex; align-items: center; justify-content: center; padding: 0 25px; }
.pro_tray_tab_each.active { background: #13a89e; color: #fff; }
.pro_tray_tab_each:not(.active) { color: #ccc; }
.pro_tray_tab_each:not(.active):hover { background: #13a89e; color: #fff; }
.pro_tray_sep { width: 1px; height: 100%; background: #fff; }

.app_dialog { margin-bottom: 20px; background: #666; color: #fff; padding: 10px 20px; display: flex; flex-direction: row; align-items: center; white-space: nowrap; overflow: hidden; }
.app_dialog span { margin-right: 20px; }
.app_dialog_each { margin-right: 20px; }
.app_dialog_tool { font-size: 17px; cursor: pointer; margin-left: auto; }

.pro_acc_stats_outer { display: flex; flex-direction: column; margin-bottom: 30px; }
.pro_acc_stat_top { display: flex; flex-direction: row; align-items: center; justify-content: center; border: 1px solid #1b1b1b; color: #1b1b1b; font-size: 18px; padding: 7px 5px; line-height: 28px; }
.pro_acc_stat_sep { height: 10px; width: 80%; margin: 0 auto; border-right: 1px solid #1a1a1a; border-left: 1px solid #1a1a1a; }
.pro_acc_stat_btm { display: flex; flex-wrap: wrap; flex-direction: row; justify-content: space-between; }
.pro_acc_stat_each { flex: 0 1 100%; margin-bottom: 2px; padding: 15px 10px; font-size: 12px; background: #666; display: flex; flex-direction: row; align-items: center; justify-content: space-between; border-radius: 3px; color: #fff; }
.pro_acc_stat_val i.online { color: #28a745; }
.pro_acc_stat_val i.inactive { color: #f2aa2d; }
.pro_acc_stat_val i.offline { color: #818181; }

.pro_get_started,.pro_build_acc,.pro_lat_sale { display: flex; flex-direction: column; margin-bottom: 50px; background: #666; padding: 15px 5px; }
.pro_get_start_top,.pro_build_acc_top,.pro_lat_sale_top { color: #fff; font-size: 18px; margin-bottom: 10px; }
.pro_get_start_head,.pro_build_acc_head,.pro_lat_sale_head { text-align: center; border-bottom: 1px solid #888; padding-bottom: 10px; }
.pro_get_start_sub_head,.pro_build_acc_sub_head,.pro_lat_sale_sub_head { font-size: 12px; margin-top: 10px; text-align: center; }
.pro_get_start_bottom { display: flex; flex-direction: row; flex-wrap: wrap; align-items: center; justify-content: space-between; }
.pro_get_start_each_panel { flex: 0 1 49%; display: flex; flex-direction: column; cursor: pointer; align-items: center; justify-content: center; margin-bottom: 5px; padding: 30px 5px; border-radius: 4px; position: relative; }
.pro_get_start_panel_head { margin-bottom: 7px; }
.pro_get_start_each_panel.complete { background: #777; color: #fff; }
.pro_get_start_each_panel.incomplete { background: #999; color: #000; }
.pro_get_start_each_panel.incomplete:hover { background: #777; color: #fff; }

.pro_lat_sale_bottom { display: flex; flex-direction: column; }
.pro_lat_sale_each { display: flex; flex-direction: row; align-items: center; margin-bottom: 10px; color: #fff; border-radius: 3px; background: #777; padding: 7px; }
.pro_lat_sale_each_center { display: flex; align-items: center; flex-direction: column; align-items: flex-start; font-size: 11px; line-height: 18px; }
.pro_lat_sale_each_left { margin-right: 10px; }
.pro_lat_sale_each_left img { width: 50px; border-radius: 3px; }
.pro_lat_sale_each_right { margin-left: auto; font-size: 12px; }
.pro_lat_sale .no_results { color: #13a89e; }

.pro_build_acc_bottom { display: flex; flex-direction: column; align-items: center; justify-content: center; margin-top: 20px; }
.pro_build_acc_each_panel { width: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center; margin-bottom: 30px; color: #fff; position: relative; }
.pro_build_acc_panel_head { text-align: center; width: 20%; padding: 5px; border-radius: 3px 3px 0 0; }
.pro_build_acc_panel_body { text-align: center; width: 100%; padding: 7px; border-radius: 3px; }
.pro_build_acc_panel_body i { margin-right: 5px; }
.pro_build_acc_each_panel.complete .pro_build_acc_panel_head,.pro_build_acc_each_panel.complete .pro_build_acc_panel_body {  background: #777; color: #fff; }
.pro_build_acc_each_panel.incomplete .pro_build_acc_panel_head,.pro_build_acc_each_panel.incomplete .pro_build_acc_panel_body { background: #999; color: #000;  }
.pro_build_acc_link { position: absolute; bottom: 6px; right: 6px; }
.pro_build_acc_each_panel.complete .pro_build_acc_link a { color: #fff; }
.pro_build_acc_each_panel.incomplete .pro_build_acc_link a { color: #000; }

.no_bullet { font-size: 12px !important; }
.no_bullet { margin-left: -14px; }
.no_bullet li { list-style: none !important; }

@media (min-width:320px) and (max-width: 767px) {

	.pro_tray_title,.pro_tray_tab_each { font-size: 16px; }
	.pro_inp_list_outer { padding-top: 10px; }
	.pro_note ul li { line-height: 27px; }
	.app_dialog { align-items: flex-start; white-space: unset; position: relative; flex-direction: column; padding: 10px 7px; }
	.app_dialog_tool { position: absolute;top: 13px; right: 5px; }
	.app_dialog_each { margin-bottom: 15px; margin-right: unset; line-height: 22px; }

    .pro_pg_tb_sub_outer { overflow: scroll; }
    .pro_pg_tb_sub_outer .tb_sub_each { min-width: 120px; }
    .cancel_subscription { margin-right: 0 !important; margin-top: 20px !important; }
    .pro_news_textarea { font-size: 12px; line-height: 18px; }
    .pro_stream_input { font-size: 12px; }

    .pro_h_l_btn_top,.pro_h_logo_btn_top,.pro_h_dt_btn_top { flex: 0 1 47% !important; }
    .edit_profile_btn_1 { margin: 60px 0 40px 0 !important; }
    .pro_inp_right .pro_inp_right_link { font-size: 11px; position: absolute; bottom: -20px; right: 0; }
    .profile_custom_drop_each { font-size: 13px; margin-right: 15px !important; }
    .pro_h_logo_btn_each,.pro_h_dt_btn_each { margin-bottom: 17px !important; padding: 10px 10px !important; }
    .pro_h_l_btn_each { padding: 10px 10px !important; }
    .pro_h_l_head, .pro_h_logo_head, .pro_h_dt_head { display: unset !important; }
    .pro_h_l_content, .pro_h_logo_content { padding: 10px 0 !important; }
    .check_each_name,.check_each_action_btn { font-size: 12px !important; }
    .check_each_action_btn { padding: 5px 10px !important; }
    .pro_m_chech_outer input[type="button"] { font-size: 25px; padding: 0 10px; }
    .social_supp_btns ul li a { font-size:14px !important; line-height:22px; }
    .pro_left_sec_outer{ width:100%; display: none; }
    .pro_left_btns_outer { padding:0px; padding-bottom:10px; }
    .pro_left_btns_outer ul { display:block; width:100%; }
    .pro_left_sec_outer .pro_stript_btn { display:none; }
    .pro_right_sec_outer { float:none; width:100%; }
    .pro_right_tb_det_outer { padding:0px; }
    .pro_pg_tb_det_inner {  }
    .pro_pg_tb_det_inner h2 {  padding-left:0px; }
    .pro_inp_right { width: 74%; position: relative; }
    .pro_select_outer text { white-space: unset !important; margin-bottom: 20px; width: 100% !important; height: auto; }
    .pro_select_outer ul li { width: 100%; margin-right:15px; }
    .pro_select_outer ul li:last-child{ margin-right:0px; }
    .your_story_outer p { width:100%; }
    .add_bio_text { width:100%; }
    .add_bio_text textarea { height:250px; }
    .each_pro_edit_section { padding-bottom: 40px; }
    .music_sec_opt_outer { background-size:14px 9px; }
    .music_sec_opt_outer span {font-size: 13px; width:100%;   padding-left:20px; }
    .music_sec_opt_outer select option { width:100%; font-size:13px;  padding-left:20px; }
    .pro_m_chech_outer span { font-size:16px; min-height: 36px; background-position: right 15%; }
    .pro_m_chech_outer span a { font-size:16px; display:block; }
    .pro_m_chech_outer .m_chech_active { background-position: right 15%; }
    .m_btm_list_left { width:100%; flex-direction: column; align-items: flex-start; }
    .m_btm_list_left span { width:100%; float:none; }
    .m_btm_list_left ul { width:100%; float:none; padding-left: 0; margin-top: 10px; }
    .music_btm_list { flex-direction: column; }
    .music_btm_list .m_btm_right_icons li:last-child{ margin-left: 6px; }
    .music_btm_list .m_btm_right_icons li:nth-child(2){ margin-left: 6px; }
    .music_btm_list .edit_elem_top { align-items: flex-start; }
    .m_btm_right_icons { width:fit-content; padding-top:5px; }
    .m_btm_right_icons ul { float: none !important; }
    .m_btm_right_icons ul li { padding-right:15px; }
    .m_btm_right_icons .m_btm_edit { background-size:100% 100%; }
    .m_btm_right_icons .m_btm_del { background-size: 100% 100%; }
    .m_btm_right_icons .m_btn_right_icon_each { width: 25px; height: auto; }
    .m_btm_right_icons .m_btm_star {  background-size: 100% 100%; }
    .music_btm_img_det { padding-left:7px; }
    .music_btm_img_det a { font-size:14px; }
    .music_btm_img_det p { font-size:14px; }
    .music_btm_img_det li { padding-bottom:0px; }
    .music_btm_img_det label { color: #818181; }
    .pro_music_info label { padding: 0; }
    .proj_cont_flt_outer p, .proj_cont_flt_outer a { font-size: 15px; }
    .proj_pi_flt_right { width: 100%; margin-top: 10px; }
    .proj_pi_flt_left { width:30%; padding-right:4px; }
    .proj_pi_flt_right p { margin-bottom: 10px; font-size:12px; padding:0px; }
    .proj_pi_flt_right input[type="text"]{ font-size:12px; }
    .pi_inp_lft  { width:70% !important; }
    #user_bio_video_form_submit  { width:25% !important; }
    .proj_insp_wid { width:80%; }
    .pay_btm_btn_outer ul li { float: none; }
    .pay_btm_btn_outer ul li a { width: 100% !important; }
    .pay_btm_btn_outer #save_project,.pay_btm_btn_outer #preview_project { margin-bottom: 25px; }
    .pay_btm_btn_outer ul li:last-child { float: none; }
    .m_btm_right_icons .music_featured { background-size: 100% auto;  height: 30px;  width: 30px; }
    .proj_cont_flt_outer { width:100%; padding:0px; }
    .pro_left_sec_outer .add_stripe_notic { display: none; }
    .pro_m_chech_outer input[type="button"] { display: flex; justify-content: center; float: none; width: 100%; }
    .pro_input_icon i { margin-right: 6px !important; font-size: 13px !important; }
    .pro_inp_outer label { width: 26%; font-size: 13px !important; }
    .pro_inp_right input { font-size: 13px !important; }
    .pro_plus_icon .icon { right: 0 !important; }
    .each_order_tab { padding: 6px !important; }
    .each_tab_txt { width: 78%; }
    #profile_tab_10 .upload_new, #profile_tab_11 .upload_new, .display_current, .upload_new_banner { width: 95%!important; }
    .ch_select_options { align-items: unset; flex-direction: column-reverse; }
    .make_offer_outer { height: 33px;padding: 0px 15px; font-size: 12px; justify-content: unset; width: 100%; border: none; border-bottom: 1px solid #fff; }
    .pro_m_chech_outer.multi_btn { flex-direction: column; }
    .pro_m_chech_outer.multi_btn input[type="button"] { margin-bottom: 5px; }
}

@media (min-width:768px) {

	.panel { background-color: rgb(39, 40, 42); margin-bottom: 20px; padding: 10px; position: relative; color: #fff; }
	.social_supp_btns ul li a { font-size: 18px; margin: 10px auto; }
}

@media (min-width:768px) and (max-width: 1024px) {

	.proj_pi_flt_right { width:76%; }
	.proj_insp_wid { width:44%; }
	.my_sub_sec_list .sub_sec_date_contain { float: none; text-align: right; }
	.my_purchase_list .my_sub_right_sec { width: 100%; float: left; }
	.my_purchase_list .my_sub_right_sec a {margin-left: 0;}
	.my_purchase_list .my_purchase_sec {left: 0; top: 2em;}
	.my_purchase_list .my_purchases_dwnload { float: left; width: 100%; margin-top: 4em; border: 1px solid #818180; padding: 7px; }
	.my_purchase_list .my_purchases_dwnload label { margin: 0 auto; }
	.my_purchase_list .my_sub_sec_list label { float: none; }
	.my_purchase_list .sub_right_sec a { margin-left: 0px; }
	.my_purchases_dwnload label { float: none; }
	.sub_right_sec a { margin-top:0px; }
	.pro_left_btns_outer ul li { padding-bottom:26px; }
	.pro_left_btns_outer ul li a { font-size:13px; }
	.pro_pg_tb_det h2 { padding-left: 20px; }
	.pro_my_profil_sec h2  { font-size:14px; padding:0px 20px; }
	.pro_stript_btn { background-size:100% 100%; display: block;  height: 38px; width: 182px; }
	.pro_inp_right { width:82% !important; }
	.pro_social_btn_outer ul li { float:none; display: inline-block; padding-right:162px; padding-bottom:24px; }
	.pro_social_btn_outer ul li:nth-child(3n+3){ padding-right:0px !important; }
	.add_bio_text { width:70%; }
	.pro_right_video_det { width:48%; }
	.pro_right_video_det p { font-size:16px; padding-bottom:3px; }
	.m_btm_list_left { width:75%; }
	.m_btm_list_left span { width:182px; }
	.proj_ship_flt_outer ul li { padding-right:20px; }
	.proj_ship_flt_outer ul li:last-child { float:right; }
	.sub_right_sec { width:77%; }
	.social_supp_btns ul li a { font-size:16px; line-height:24px; background:#999; }
	.social_supp_btns ul li.full_btn a { font-size:16px; line-height:28px; }
}

@media (width: 1024px) {

	.m_btm_right_icons ul li { padding-right:15%; }
	.pro_right_video_det p { font-size:24px; padding-top:4px; }
	.pi_inp_lft { width:80% !important; }
	.pro_right_video_det { width:62% !important; }
	.pro_inp_right { width:87% !important; }
	.pro_social_btn_outer ul li { padding-right:255px; }
}

@media (min-width:400px) and (max-width: 499px) {

	.pro_inp_right { width:76%; }
}
