

.tab_det_left_sec.tab_det_dsk { padding: 0 20px 20px; }
.page_title, .top_info_box, .top_info_text { color: #fff !important; font-size: 22px; }

.tab_det_left_sec.tab_det_dsk { padding: 0 20px 20px; }

.content_outer:not(.playing) { padding-top: calc(100vh - 318px) !important; }

.each_search_host_result { display: flex; color: #fff; font-family: Open sans, sans-serif; align-items: center; margin-top: 20px; padding-bottom: 20px; border-bottom: 1px solid #959595; font-size: 11px; }
.each_search_result_thumb { max-width: 120px; position: relative; }
.each_search_result_det { line-height: 21px; margin-left: 22px; }
.each_search_result_det a { color: #fff; transition:0.3s all ease-in-out; font-size: 15px; }
.each_search_result_det a:hover { color: #13a89e; }
.each_search_result_thumb:after { content: "Host"; z-index: 1; overflow: hidden; font-size: 10px; font-weight: bold; color: #FFF; text-transform: uppercase; text-align: center; line-height: 16px; transform: rotate(310deg); width: 80px; display: block; background: #79A70A; background: linear-gradient(#9BC90D 0%, #79A70A 100%); box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1); position: absolute; top: 5px; left: -28px; clip-path: polygon(80px 23px, 45px -10px, 30px -5px, 0px 20px, 10px 30px,  110px 30px); }

.tv_tab_btns_outer { min-height: 130px; background: rgb(39, 40, 42); width:100%; display: flex; padding: 44px 0 50px 10px; justify-content: center; }
.tv_tab_btns_outer .each_tab_btn { display: flex; align-items: center; }
.tv_tab_btns_outer .tab_btn_tv_logo { width: 35%; }
.tv_tab_btns_outer .tab_btn_tv_channels { width: 35%; cursor: pointer; }
.tv_tab_btns_outer .tab_btn_info, .tv_tab_btns_outer .tab_btn_tv { width: 15%; cursor: pointer; }
.tv_tab_btns_outer .tab_btn_tv_logo img { width: 25px; }
.tv_tab_btns_outer .tv_channels_outer { display: flex; align-items: center; width: 100%; position: relative; color: #fff; }
.tv_tab_btns_outer .tv_channels_arrow { font-size: 24px; margin-left: 5px; }
.tv_tab_btns_outer .tv_channels_outer select { cursor: pointer; width: 100%; height: 100%; border: 0px none; position: absolute; right: 0px; top: 0px; opacity: 0; }
.tv_tab_btns_outer .tv_channels_outer select option { line-height: 30px; display: block; font-size: 16px; color: #58595b; font-family: Open sans, sans-serif; padding: 0px 10px; }
.tv_tab_btns_outer .tv_channels_outer .tv_channel_selected { text-transform: uppercase; display: block; font-size: 16px; font-family: Open sans, sans-serif; }
.tv_tab_btns_outer .tv_info_outer { display: flex; align-items: center; margin: 0 auto; width: fit-content; }
.tv_tab_btns_outer .tv_info_outer .tv_info_ic { display: flex; align-items: center; margin-right: 10px; }
.tv_tab_btns_outer .tv_info_outer .tv_info_ic i { font-size: 24px; }
.tv_tab_btns_outer .tv_info_outer .tv_info_text { color: #fff; font-family: Open sans, sans-serif; font-size: 16px; }
.tv_tab_btns_outer .each_tab_btn.tab_btn_tv:not(.active) { background:url(../images/tab_tv.png) no-repeat center center/41px 35px; }
.tv_tab_btns_outer .each_tab_btn.tab_btn_tv.active { background:url(../images/tab_tv_filled.png?v=1.1) no-repeat center center/41px 35px; }

.stream_det .stream_title, .stream_det .stream_time, .stream_det .stream_channel{ white-space: nowrap; }
.each_stream_outer { cursor: pointer; }
.each_stream_inner { position: relative; }
.each_stream_inner:hover,.active_video_list:hover { background:#000; transition:0.3s all ease-in-out;-webkit-transition:0.3s all ease-in-out; -moz-transition:0.3s all ease-in-out; -o-transition:0.3s all ease-in-out; }
.active_video_list .stream_live, .active_video_list .stream_title, .active_video_list .stream_time, .active_video_list .stream_channel { color: #fff !important;  }

.stream_is_live { background-color: #fc074d; }
.stream_is_live .stream_title, .stream_is_live .stream_time, .stream_is_live .stream_channel { color: #fff !important; }
.stream_is_live .cent_undo_btn { width: auto !important; height: auto !important; background: none !important; color: #fff; font-weight: bold; letter-spacing: 2px; font-size: 20px; margin: 0 -15px !important; }

.tv_left_outer .top_stream_bottom_spacer{ border-bottom: 1px solid #959595; margin-top: 10px; }
.tv_left_outer .stream_title { font-size: 15px; color: #fff; font-family: Open sans, sans-serif; /*font-weight: bold;*/ }
.tv_left_outer .stream_time, .tv_left_outer .stream_channel{ margin-top: 7px; color: #999; }
.tv_left_outer .stream_thumb{ max-width: 120px !important; min-width: 120px; }
.tv_left_outer .top_stream_left{ display: flex; flex-direction: row; overflow: hidden; }
.tv_left_outer .top_stream_right { position: absolute; top: 40%; right: 25px; }
.tv_left_outer .stream_det{ margin-left: 10px; font-size: 14px; }
.tv_left_outer .cent_undo_btn{ width: 18px; height: 21px; background-size: 100% 100% !important; background: url(../images/undo_btn_icon_02.png) no-repeat center center; margin: 0 0 0 5px; }
.top_stream_inner { position: relative; }

.each_stream_actions { display: flex; flex-direction: row; margin-left: auto; }
.stream_action { height: fit-content; margin: 5px 10px; background: none !important; font-size: 22px; cursor: pointer; }
.stream_action:not(.active) { color: transparent; -webkit-text-stroke-width: 0.8px; -moz-text-stroke-width: 0.8px; -webkit-text-stroke-color: #fff; -moz-text-stroke-color: #fff; }
.stream_action.active { color: #fc064c; -webkit-text-stroke-color: #fc064c; -moz-text-stroke-color: #fc064c; }

.tv_outer .quick_side_nav_inner{ position: relative; height: 100px; }
.tv_outer .quick_side_nav_outer{ border: 1px solid #959595; }
.tv_outer .quick_nav_left{ display: inline-block; width: 40%; }
.tv_outer .quick_nav_right{ font-size: 16px; color: #888; position: absolute; top: 23%; width: 60%; display: inline-block; }
.tv_outer .quick_nav_left img.quick_nav_chart_icon { margin: 12% 0 0 30%; width: 80px; }
.tv_outer .quick_nav_left img.quick_nav_studio_icon { margin: 6% 0 0 36%; width: 50px; }
.tv_outer .mejs__time-current, .tv_outer .mejs__time-handle-content { background: #3333ff !important; }

.tv_center_outer .ch_tp_sec{ width: 100%; padding: 20px 0 13px 0; }
.tv_center_outer .ch_chart_play{ margin-right: 40px; height: 40px; width: 40px; }
.tv_center_outer a.tv_top_sec_right_det{ font-size: 17px !important; font-weight: bold !important; color: #666 !important; }
.tv_center_outer .stream_contain_head, .channel_streams_right .stream_contain_head { font-size: 15px; color: #fff; font-family: Open sans,sans-serif; /*font-weight: bold;*/ }
.tv_center_outer .stream_contain_sub_head, .channel_streams_right .stream_contain_sub_head { font-size: 16px; color: #fff; font-family: Open sans, sans-serif; margin-bottom: 7px; }
.tv_center_outer .each_stream_outer, .channel_streams_right .each_stream_outer { margin: 30px 0; }
.tv_center_outer .each_stream_left, .channel_streams_right .each_stream_left { position: relative; display: flex; flex-direction: row; }
.tv_center_outer .each_stream_right, .channel_streams_right .each_stream_right{ position: absolute; right: 25px; top: 47%; }
.tv_center_outer .stream_thumb, .channel_streams_right .stream_thumb { max-width: 200px; }
.tv_center_outer .stream_det, .channel_streams_right .stream_det { margin-left: 20px; }
.tv_center_outer .stream_det .stream_title, .channel_streams_right .stream_det .stream_title{ font-size: 16px; color: #fff; font-family: Open sans, sans-serif; /*font-weight: bold;*/ }
.tv_center_outer .stream_det .stream_time, .channel_streams_right .stream_det .stream_time{ color: #999; }
.tv_center_outer .stream_det .stream_channel, .channel_streams_right .stream_det .stream_channel{ font-size: 16px; color: #999; }
.tv_center_outer .stream_live, .channel_streams_right .stream_live{ padding: 0px 5px; background-color: #fc074d; color: #fff; font-weight: bold; letter-spacing: 2px; font-size: 16px; margin-left: 30%; }
.tv_center_outer .load_more_streams, .channel_streams_right .load_more_streams, #tabd1 .load_more_streams, .mobile-only .load_more_streams { width: 99.5%; text-align: center; margin: 25px 2px; color: #fff; font-size: 16px; padding: 10px 0; cursor: pointer; border-bottom: 1px solid #fff; transition: 0.3s all ease-in-out; }
.tv_center_outer .load_more_streams:hover .channel_streams_right .load_more_streams:hover, #tabd1 .load_more_streams:hover { background: #000; }
.tv_center_outer #r_tab1{ padding: 0 0 10px 0; }
.tv_center_outer .live_streams { border-bottom: 4px solid #fff; margin-bottom: 30px; }
.tv_center_outer .upcoming_streams{ padding-top: 10px; }
.tv_center_outer .stream_det .stream_title,.tv_center_outer .stream_det .stream_time { line-height: 1.8rem; }
.tv_center_outer .stream_det .stream_channel { margin-top: 40px; }
.channel_streams_right .stream_det .stream_channel { margin-top: 25px; }
.channel_streams_right .stream_det .stream_title,.channel_streams_right .stream_det .stream_time { margin-top: 5px; }
.channel_streams_center .stream_channel { color: #3333ff !important; font-weight: bold; font-family: Open sans, sans-serif; }
.tv_outer .channel_streams_right .project_name { color: #fff !important; text-align: left !important; }
.tv_outer .channel_streams_right .stream_det { margin-left: 10px; }
.channel_streams_right .stream_title, .channel_streams_right .stream_time, .channel_streams_right .stream_channel{ font-size: 14px !important; }

#vimeo_player.active { padding: 10px 0 0 0; position: relative; }
#vimeo_player iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

@media (min-width:1024px) and (max-width: 1365px) {
    .content_outer.playing { padding-top: calc(100vh - 318px) !important; }
}
@media (min-width:1366px){
    .content_outer.playing { padding-top: calc(100vh - 318px) !important; }
}
@media (max-width:767px){
    .content_outer .auto_content { position: relative; background: none; }
    .content_outer.playing { padding-top: 17px !important; }
    .ch_left_sec_outer { padding-left: 15px; padding-right: 15px; }
}
@media (min-width:768px) and (max-width: 1024px) {
    .content_outer.playing { padding-top: calc(100vh - 318px) !important; }
}
@media (min-width:320px) and (max-width: 767px) {

    .tv_tab_btns_outer { min-height: unset !important; padding: 10px 7px 0 3px !important; }
    .tv_tab_btns_outer .each_tab_btn {  }
    .tv_tab_btns_outer .tab_btn_tv_logo { width: 35% !important; }
    .tv_tab_btns_outer .tab_btn_tv { width: 15% !important; }
    .tv_tab_btns_outer .tab_btn_tv_logo a { max-width: 90px !important; }
    .tv_tab_btns_outer .tab_btn_tv_logo img { width: auto !important; }
    .tv_tab_btns_outer .tv_info_outer .tv_info_ic { margin-right: 5px !important; }
    .tv_tab_btns_outer .tv_info_outer .tv_info_ic img{ width: 14px; }
    .tv_tab_btns_outer .tv_info_outer .tv_info_text, .tv_tab_btns_outer .tv_channels_outer .tv_channel_selected { font-size: 12px !important; }
    .tv_tab_btns_outer .each_tab_btn.tab_btn_tv:not(.active) { min-height: 35px; }
    .tv_tab_btns_outer .tv_channels_outer { border-bottom: unset !important; background: url(../images/tab_play_down.png) no-repeat 80% 5px #fff/14px !important; }
    .tv_tab_btns_outer .each_tab_btn.tab_btn_tv.active { background:url(../images/tab_tv_filled.png) no-repeat 99% 0/30px !important; }
    .tv_center_outer .stream_det .stream_channel { margin-top: 10px !important; }
    .channel_streams_right .stream_det .stream_channel { line-height: unset !important; }
    .tv_center_outer .stream_det .stream_title,.tv_center_outer .stream_det .stream_time ,.tv_center_outer .stream_det { line-height: 18px !important; }

    .tv_left_outer { margin: 40px 0 0 0; }
    .tv_left_outer .stream_det { width: 100%; padding: 3px 0 0 5px; line-height: 13px; margin-left: 3px !important; }
    .tv_left_outer .stream_title { font-size: 13px; }
    .tv_left_outer .stream_time, .tv_left_outer .stream_channel { font-size: 11px; font-weight: bold; }
    .stream_is_live .cent_undo_btn { font-size: 17px; }
    
    .tv_outer .quick_side_nav_outer{ margin-bottom: 40px; padding: 10px; }
    .tv_outer .quick_nav_left img.quick_nav_chart_icon { margin: 25% 0 0 20%; width: 60px; }
    .tv_outer .quick_nav_left img.quick_nav_studio_icon { margin: 17% 0 0 25%; width: 40px; }
    .tv_outer .ch_tp_sec_left .tp_sec_in_det { width: 61% !important; }
    .tv_outer .channel_streams_right .stream_det { left: 47% !important; }
    .tv_outer .ch_center_outer { padding: 0 7px 0 7px !important; }
    .tv_outer .ch_cent_right_outer { padding: 0 !important; }
    
    .tv_center_outer .tp_sec_in_det a strong, .live_center_outer .tp_sec_in_det a strong { color: #fc064c !important; font-family: 'open_sanssemibold' !important; font-size: 13px !important; }
    .tv_center_outer a.tv_top_sec_right_det{ font-size: 11px !important; font-weight: normal !important; }
    .tv_center_outer .stream_det { padding: 0 0 0 5px; max-width: 55%; overflow: hidden; }
    .tv_center_outer .stream_title, .channel_streams_right .stream_title { font-size: 11px !important; font-family: 'open_sansregular'; }
    .tv_center_outer .stream_time, .tv_center_outer .stream_channel, .channel_streams_right .stream_time, .channel_streams_right .stream_channel { font-size: 9px !important; }
    .tv_center_outer .stream_live, .channel_streams_right .stream_live { font-weight: normal; font-size: 10px; }
    .tv_center_outer .each_stream_right, .channel_streams_right .each_stream_right {  }
    .tv_center_outer .stream_contain_head, .channel_streams_right .stream_contain_head { font-size: 13px; margin: 20px 0 0 0; }
    .tv_center_outer .stream_contain_sub_head, .channel_streams_right .stream_contain_sub_head { font-size: 11px; }
    .tv_center_outer .each_stream_outer, .tv_center_outer .stream_contain_sub_head, .channel_streams_right .each_stream_outer, .channel_streams_right .stream_contain_sub_head { margin: 10px 0 30px 0; }
    .tv_center_outer .ch_tp_sec, .live_center_outer .ch_tp_sec { padding: 8px 0; }
    .tv_center_outer .load_more_streams, .channel_streams_right .load_more_streams { font-size: 10px; padding: 0; }
}
@media (min-width:768px) {

    .default_stream { padding: 10px; }
}
@media (min-width:360px) and (max-width: 767px) {

    .tv_left_outer .stream_det { padding: 3px 0 0 5px; line-height: 13px !important; }
    .tv_center_outer .stream_det { line-height: 1.7rem !important; }
}
@media (min-width:320px) and (max-width: 767px) {

    .tv_tab_btns_outer { justify-content: space-between; }
    .each_stream_actions { flex-direction: column !important; }
    .stream_action { font-size: 15px !important; margin: 5px 2px !important; }
    .tv_center_outer .stream_thumb,.channel_streams_right .stream_thumb { min-width: 100px !important; max-width: 100px !important; }
    .tv_center_outer .stream_det, .channel_streams_right .stream_det { margin-left: 3px !important; }
    .tv_center_outer .each_stream_right,.channel_streams_right .each_stream_right { right: 12px !important; bottom: 0px; top: unset !important; }
    .tv_left_outer .stream_title { max-width: 80%; overflow: hidden; line-height: 14px; }
    .tv_left_outer .stream_thumb { max-width: 100px !important; min-width: 100px; }

}